<span style="visibility: hidden">coffeepub-hide-header</span>

<div class="blacksmith-card theme-default">
    <div class="card-header"><i class="fa-solid fa-swords"></i> Round {{roundNumber}} Has Ended</div>
</div>

