<span style="visibility: hidden">coffeepub-hide-header</span>

<div class="blacksmith-card theme-announcement-blue">
    <div class="card-header"><i class="fa-solid fa-swords"></i> Round {{roundNumber}} Begins</div>
</div>
