<span style="visibility: hidden">coffeepub-hide-header</span>
<div class="blacksmith-card theme-default">
    <div class="card-header">
        <i class="fa-solid fa-rabbit-running"></i> Hurry Up
    </div>
    <div class="section-content">
        <p>{{message}}</p>
    </div>
</div>
