<span style="visibility: hidden">coffeepub-hide-header</span>

<div class="blacksmith-card theme-announcement-red">
    <div class="card-header"><i class="fa-solid fa-flag-checkered"></i> Combat Has Ended</div>
</div>
