<div class="blacksmith-chat-panel">
    <div class="panel-section leader-section">
        <div class="leader-info">
            <i class="fa-solid fa-crown leader-icon" style="cursor: {{#if isGM}}pointer{{else}}default{{/if}}"></i>
            <span class="party-leader">{{leaderText}}</span>
        </div>
    </div>
</div> 