  <div class="encounter-toolbar-compact">
    <div class="encounter-toolbar-header">
      <span class="encounter-toolbar-title">Encounter Tools</span>
              {{#if difficulty}}
        <span class="difficulty-badge {{difficultyClass}}">
          {{difficulty}}
        </span>
        {{/if}}
    </div>

    {{#if hasEncounterData}}
      <div class="encounter-toolbar-actions">
        {{#if hasMonsters}}
        <button class="encounter-btn deploy-monsters">
          <i class="fas fa-dragon"></i>
        </button>
        {{/if}}

        <button class="encounter-btn create-combat">
          <i class="fas fa-swords"></i>
        </button>


      </div>
    {{else}}
      <p>No encounter data found in this journal entry.</p>
    {{/if}}
  </div>
