<div class="journal-tools foundry-style-window">
  <form class="journal-tools-form">
    <!-- Header Tabs -->
    <div class="journal-tools-header-sticky">
      <div class="journal-tools-tabs">
        <button type="button" class="journal-tools-tab active" data-tab="entity-replacement">
          <i class="fas fa-link"></i>
          <span>Entity Replacement</span>
        </button>
        <button type="button" class="journal-tools-tab" data-tab="search-replace">
          <i class="fas fa-search"></i>
          <span>Search & Replace</span>
        </button>
      </div>
    </div>


    <!-- ********** Entity Replacement Tab Content ********** -->
    <!-- Journal Selector -->
    <div class="journal-tools-tab-content active" id="entity-replacement-content">

      {{> partials/entity-replacement}}


    </div>






  </form>
</div>