<div class="vote-config-content">
    <div class="vote-types">
        {{#each fixedVoteTypes}}
            <div class="vote-type" data-type="{{this.id}}">
                <div class="vote-type-layout">
                    <div class="vote-type-icon">
                        <i class="fas {{this.icon}}"></i>
                    </div>
                    <div class="vote-type-content">
                        <div class="vote-type-name">{{this.name}}</div>
                        <div class="vote-type-description">{{this.description}}</div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div> 