<span style="visibility: hidden">coffeepub-hide-header</span>

<div class="blacksmith-stats">
    <div class="round-announcement-section">
        <div class="round-header"><i class="fa-solid fa-chess-king"></i> Round {{roundNumber}} Begins</div>
    </div>
</div> 