{{#if showRoundTimer}}
<div class="round-timer">
    <div class="round-timer-text">
        <span class="round-duration-label"><i class="fa-solid fa-hourglass-clock"></i></span>
        <span class="round-duration-time">{{roundDurationActual}}</span>
        {{#if partyStats.averageTurnTime}}
            <span class="separator">•</span>
            <span class="round-avg-label"><i class="fa-solid fa-user-clock"></i></span>
            <span class="round-avg-time">{{partyStats.averageTurnTime}} Avg</span>
        {{/if}}
    </div>
</div> 
{{/if}} 