<span style="visibility: hidden">coffeepub-hide-header</span>

<div class="blacksmith-card">
    <div class="round-announcement-section">
        <div class="section-header">
            <i class="fa-solid fa-swords"></i> Round {{roundNumber}} Has Started
        </div>
    </div>
</div> 