{{#if showRoundTimer}}
<div class="round-timer-container">
    <div class="round-timer-left" data-tooltip="Total Combat Duration">
        <i class="fa-solid fa-swords"></i>
        <span class="round-time combat-time-total">{{totalCombatDuration}}</span>
    </div>
    <div class="round-timer-right" data-tooltip="Round Duration">
        <i class="fa-solid fa-dagger"></i>
        <span class="round-time combat-time-round">{{roundDurationActual}}</span>
    </div>
</div> 
{{/if}} 