<li class="planning-timer-item">
    <div class="planning-timer-container">
        <div class="planning-timer-progress{{#if isExpired}} expired{{/if}}">
            <div class="planning-timer-bar {{barClass}}" style="width: {{barWidth}}%;"></div>
            <div class="planning-timer-text">{{textContent}}</div>
        </div>
    </div>
</li> 
