{{! Journal page pins toolbar: "Pin this page" bar below .journal-header (same area as encounter toolbar) }}
<div class="journal-page-pins-bar" data-page-id="{{pageId}}">
    <div class="journal-page-pins-bar-row">
        <div class="journal-page-pins-bar-left toolbar-left">
            <a class="header-control icon journal-page-pin-button" href="#" title="Pin this journal page to the current scene">
                <i class="fa-solid fa-map-pin"></i> Pin Page
            </a>
        </div>
        <div class="journal-page-pins-bar-right toolbar-right">
            {{! Optional: future buttons or controls }}
        </div>
    </div>
</div>
