<form id="blacksmithbrowser">
  <!-- Rest of the form... -->
  <div id="blacksmith-browser-container">
    <iframe id="blacksmith-browser" class="blacksmith-browser" src=""></iframe>
  </div>
</form>
