{{!-- ----- NARRATIVE WORKSPACE ----- --}}
<div id="blacksmith-query-workspace-narrative" class="workspace-content hidden">
    <h3>Narrative Wordsmith</h3>

    <!-- SETTINGS -->
    {{> window-element-narrative-settings id="narrative"}}

    <!-- GEOGRAPHY -->
    {{> window-element-narrative-geography id="narrative"}}

    <!-- NARRATIVE DETAILS -->
    {{> window-element-narrative-details id="narrative"}}

    <!-- NARRATIVE DETAILS -->
    {{> window-element-narrative-image id="narrative"}}

    

    <!-- REWARDS -->
    {{> window-element-narrative-rewards id="narrative"}}


    <!-- ENCOUNTER SCRIPTS -->
    {{> window-element-encounter-scripts id="narrative"}}

    <!-- ENCOUNTER CONFIGURATION -->
    {{> window-element-encounter-configuration id="narrative"}}

    <!-- ENCOUNTER WORKSHEET -->
    {{> window-element-encounter-worksheet id="narrative"}} 

    <!-- ENCOUNTER MONSTERS -->
    {{> window-element-encounter-monsters id="narrative"}} 

    <!-- ENCOUNTER PARTY -->
    {{> window-element-encounter-party id="narrative"}} 

    <!-- ENCOUNTER NPCS -->
    {{> window-element-encounter-npcs id="narrative"}} 

    {{!-- GLOBAL OPTIONS --}}
    {{> window-element-global-options id="narrative"}}

</div>

{{!-- 

ENCOUNTER: window-query-form-card-encounter

- dropdown: Encounter location... room, cave, dungeon, etc.
- checkbox: Add encounter
- dropdown: CR Rating of the encounter
- dropdown: "Mix Monsters" and a list of the monsters
- input optional: add specific monsters to the card

REWARDS: window-query-form-card-rewards
- checkbox: Add rewards
- input optional: add specific treasure or rewards to the card


--}}