
{{!-- ----- CHARACTER WORKSPACE ----- --}}
<div id="blacksmith-query-workspace-character" class="workspace-content hidden">
    <h3>Character Guidance</h3>
    
        {{!-- CHARACTER GUIDANCE --}}
    {{> window-element-character-guidance id="character"}}

    {{!-- CHARACTER DETAILS --}}
    {{> window-element-character-details id="character"}}


    {{!-- GLOBAL OPTIONS --}}
    {{> window-element-global-options id="character"}}

    
</div>
    