
{{!-- ----- CHARACTER WORKSPACE ----- --}}
<div id="blacksmith-query-workspace-character" class="workspace-content hidden">
    <h3>Character Guidance</h3>
    
    <!-- CHARACTER GUIDANCE     -->
    <div class="workspace-section">
        <ul>
            <li>COMING SOON</li>
            <li>Pull Current Character info</li>
            <li>Recommend Weapons and Spells</li>
            <li>Recommend leveling considerations</li>
            <li>Optimizer</li>
            <li>Backstory Generator</li>
            <li>Guidance on how to use the character sheet</li>
        </ul>
    </div>

</div>
