{{!-- ----- NARRATIVE WORKSPACE ----- --}}
<div id="blacksmith-query-workspace-encounter" class="workspace-content hidden">
    <h3>Quick Encounter</h3>


    <!-- SETTINGS -->
    {{> window-element-narrative-settings id="encounter"}}

    <!-- ENCOUNTER SCRIPTS -->
    {{> window-element-encounter-scripts id="encounter"}}

    <!-- ENCOUNTER CONFIGURATION -->
    {{> window-element-encounter-configuration id="encounter"}}

    <!-- ENCOUNTER MONSTERS -->
    {{> window-element-encounter-monsters id="encounter"}} 

    <!-- ENCOUNTER WORKSHEET -->
    {{> window-element-encounter-worksheet id="encounter"}} 

    <!-- ENCOUNTER PARTY -->
    {{> window-element-encounter-party id="encounter"}} 

    <!-- ENCOUNTER NPCS -->
    {{> window-element-encounter-npcs id="encounter"}} 
    

    <!-- NARRATIVE DETAILS -->
    <!-- {{> window-element-narrative-details id="encounter"}} -->

    <!-- NARRATIVE DETAILS -->
    <!-- {{> window-element-narrative-image id="encounter"}} -->

    <!-- GEOGRAPHY -->
    <!-- {{> window-element-narrative-geography id="encounter"}} -->

    <!-- REWARDS -->
    {{> window-element-narrative-rewards id="encounter"}}



    {{!-- GLOBAL OPTIONS --}}
    {{> window-element-global-options id="encounter"}}


</div>