
{{!-- ----- ASSISTANT WORKSPACE ----- --}}
<div id="blacksmith-query-workspace-assistant" class="workspace-content hidden">
    <h3>Skill Check Assistant</h3>

    {{!-- SKILL ROLLS --}}
    {{> window-element-global-skillcheckrolls id="assistant"}}

    <!--  DETAILS -->
    {{> window-element-assistant-criteria id="assistant"}}

    {{!-- GLOBAL OPTIONS --}}
    {{> window-element-global-options id="assistant"}}

</div>

