{{!-- ----- NARRATIVE WORKSPACE ----- --}}
<div id="blacksmith-query-workspace-narrative" class="workspace-content hidden">
    <h3>Narrative Wordsmith</h3>

    <!-- SETTINGS -->
    {{> window-element-narrative-settings id="narrative"}}

    <!-- GEOGRAPHY -->
    {{> window-element-narrative-geography id="narrative"}}

    <!-- NARRATIVE DETAILS -->
    {{> window-element-narrative-details id="narrative"}}

    <!-- NARRATIVE DETAILS -->
    {{> window-element-narrative-image id="narrative"}}

    <!-- REWARDS -->
    {{> window-element-narrative-rewards id="narrative"}}


    <!-- ENCOUNTER SCRIPTS -->
    {{> window-element-encounter-scripts id="narrative"}}


    <!-- ENCOUNTER lINKS -->
    {{> window-element-narrative-encounters id="narrative"}} 


    <!-- ENCOUNTER CHARACTERS -->
    {{> window-element-narrative-characters id="narrative"}} 

    {{!-- GLOBAL OPTIONS --}}
    {{> window-element-global-options id="narrative"}}

</div>
