/* ******************************************** */
/* *****           VARIABLES              ***** */
/* ******************************************** */
:root {
    --intCardMarginTop: 0px;
    --intCardMarginBottom: 0px;
    --intCardMarginLeft: 0px;
    --intCardMarginRight: 0px;
}
/* ******************************************** */
/* *****          ALL CARDS             ***** */
/* ******************************************** */
/* Wrapper */
#cards-wrapper-cardsdark {
    color: #faf6e6;
    background: #222121;
    border-left: 2px solid #504A4A;
    border-right: 2px solid #504A4A;
    border-top: 2px solid #504A4A;
    border-bottom: 2px solid #504A4A;
    font-size: 1.0em;
    font-style: normal;
    border-radius: 5px;
    padding: 5px;
    margin: var(--intCardMarginTop) var(--intCardMarginRight) var(--intCardMarginBottom) var(--intCardMarginLeft);
}
/* Icon */
#cards-icon-cardsdark {
	font-weight:550;
    font-size: 1.0em;
    margin: 0 10px 0 0;
    padding: 0;
}
/* Title */
#cards-title-cardsdark {
	color: #faf6e6;
    background: #121212;
    border-radius: 4px;
	font-weight:500;
    font-size: 1.2em;
	text-transform: uppercase;
    padding: 5px 10px;
    margin: 0;
}
#cards-title-cardsdark .fas {
	color: #faf6e6;
}
/* Content - Light Back */
#cards-content-light-cardsdark {
	color: #323030;
    background: #faf6e6;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
}

/* Button */
#cards-button-cardsdark {
    background-color: #0e0c0c;
    color: #ffffff;
    border: 1px solid #4b4b4b;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px 0 0 0;
}
#cards-button-cardsdark:hover {
    background-color: #000000;
    color: #AEADAD;
    border: 1px solid #767676;
    box-shadow: none;
}

/* Inline Rolls */
#cards-content-light-cardsdark a.inline-result {
	color: #f0f0f0;
    background: #d15006;
    border-radius: 4px;
    padding: 1px 4px;
    margin: 1px 2px;
}
/* Light content card typography overrides */
#cards-content-light-cardsdark h1,
#cards-content-light-cardsdark h2,
#cards-content-light-cardsdark h3,
#cards-content-light-cardsdark p,
#cards-content-light-cardsdark pre,
#cards-content-light-cardsdark li,
#cards-content-light-cardsdark table,
#cards-content-light-cardsdark table tr,
#cards-content-light-cardsdark table th,
#cards-content-light-cardsdark table td {
    border: none;
    color: #0E0E0E;
}
#cards-content-light-cardsdark hr {
	border: none;
    border-top: 1px dotted #323030;
}
#cards-content-light-cardsdark pre {
	border-top: 0px solid #7A7972;
	border-bottom: 0px solid #7A7972;
	border-left: 0px dotted #BDB7A0;
	border-right: 0px dotted #BDB7A0;
}
#cards-content-light-cardsdark table {
	border-top: 1px solid #BDB7A0;
	border-bottom: 1px solid #BDB7A0;
	border-left: 1px dotted #BDB7A0;
	border-right: 1px dotted #BDB7A0;
}
#cards-content-light-cardsdark table tr {
	background: #F3F1E9;
    border-bottom: 1px dotted #CAC5B0;
}
#cards-content-light-cardsdark table th {
	background: #E5E1D5;
	border-bottom: 1px solid #BDB7A0;
}
/* token Image */
#cards-token-cardsdark {
    border-radius: 4px !important;
    width: 30px;
    padding: 0;
    margin: 5px 0;
}
/* Image Wrapper */
#cards-image-cardsdark {
    border: 0 solid #180505;
    border-radius: 4px !important;
    padding: 0;
    margin: 5px 0;
}
/* Image */
#cards-image-cardsdark img {
    border: 0 solid #180505;
    border-radius: 4px !important;
    display: block;
    margin: 0 auto;
    padding: 0;
}












/* HR */
#cards-wrapper-cardsdark hr {
    margin: 4px 0;
    padding: 0;
}
/* H1 */
#cards-wrapper-cardsdark h1 {
    font-weight:550;
    font-size: 1.2em;
    font-style: normal;
    text-transform: uppercase;
	display: inline; 
    margin: 4px 0;
    padding: 0 0 4px 0;
}
/* H2 */
#cards-wrapper-cardsdark h2 {
	font-weight:550;
    font-size: 1.0em;
	text-transform: uppercase;
    margin: 4px 0;
    padding: 0;
}
/* H3 */
#cards-wrapper-cardsdark h3 {
	font-weight:400;
    font-size: 0.85em;
    margin: 10px 0 0 0;
    padding: 0;
}
/* Lists */
#cards-wrapper-cardsdark ol,
#cards-wrapper-cardsdark ul {
	font-weight:400;
    font-size: 1.0em;
    margin: 5px 0 5px 20px;
    padding: 0;
}
/* List Items */
#cards-wrapper-cardsdark li {
	font-weight:400;
    font-size: 0.9em;
    margin: 2px 0 0 0;
    padding: 0;
}
/* Paragraph */
#cards-wrapper-cardsdark p {
	font-weight:400;
    font-size: 1.0em;
    margin: 0;
    padding: 2px 0;
}
/* Table */
#cards-wrapper-cardsdark table {
    font-size: 0.8em;
    margin: 8px 0;
}
/* Table Heading */
#cards-wrapper-cardsdark table th {
    font-size: 1.0em;
	vertical-align: bottom;
    padding: 3px 8px;
}
/* Table Row */
#cards-wrapper-cardsdark table tr {
    font-size: 1.0em;
    padding: 3px 4px;
}
/* Table Cell */
#cards-wrapper-cardsdark table td {
    font-size: 1.0em;
    padding: 3px 8px;
}
/* Preformatted */
#cards-wrapper-cardsdark pre {
    white-space: pre-wrap;
	font-size: 0.8em;
	font-family: var(--font-primary);
    margin: 0;
    padding: 3px 0;
}
/* ******************************************** */
/* *****        COMMON ELEMENTS           ***** */
/* ******************************************** */
.token-background-themecolor,
.token-background-brick,
.token-background-cobblestone,
.token-background-dessert,
.token-background-parchment,
.token-background-rock,
.token-background-stone,
.token-background-clothdark,
.token-background-clothlight,
.token-background-stonefloor,
.token-background-grass,
.token-background-dirt {
    background-repeat: repeat;
    background-size: cover;
}
.token-background-themecolor {
	background-color: transparent;
}
.token-background-dirt {
	background-image: url(../images/tiles/tile-dirt.webp);
}
.token-background-grass {
	background-image: url(../images/tiles/tile-grass.webp);
}
.token-background-parchment {
	background-image: url(../images/tiles/tile-parchment.webp);
}
.token-background-clothlight {
	background-image: url(../images/tiles/tile-clothlight.webp);
}
.token-background-clothdark {
	background-image: url(../images/tiles/tile-clothdark.webp);
}
.token-background-brick {
	background-image: url(../images/tiles/tile-brick.webp);
}
.token-background-cobblestone {
	background-image: url(../images/tiles/tile-cobblestone.webp);
}
.token-background-dessert {
	background-image: url(../images/tiles/tile-dessert.webp);
}
.token-background-stonefloor {
	background-image: url(../images/tiles/tile-stonefloor.webp);
}
.token-background-rock {
	background-image: url(../images/tiles/tile-rock.webp);
}
.token-background-stone {
	background-image: url(../images/tiles/tile-stone.webp);
}
/* ******************************************** */
/* *****      MARKDOWN OVERRIDES          ***** */
/* ******************************************** */
#cards-wrapper-cardsdark #coffee-pub-bibliosoph-markdown-div {
	font-size: 1.0em;
}
#cards-wrapper-cardsdark .coffee-pub-bibliosoph-markdown-h1 {
	font-size: 1.3em;
	font-weight:900;
}
#cards-wrapper-cardsdark .coffee-pub-bibliosoph-markdown-h2 {
	font-size: 1.1em;
	font-weight:900;
}
#cards-wrapper-cardsdark .coffee-pub-bibliosoph-markdown-h3 {
	font-size: 0.9em;
	font-weight:900;
}
#cards-wrapper-cardsdark .coffee-pub-bibliosoph-markdown-p {
	font-size: 1.0em;
	font-weight:400;
	margin: 4px 0;
}
#cards-wrapper-cardsdark .coffee-pub-bibliosoph-markdown-blockquote {
	background-color: #f0ecdd;
	padding: 3px 8px;
	margin: 10px 0;
	border-left: 5px solid #8a857c;
	border-right: 0 solid #8a857c;
	border-top: 0 solid #8a857c;
	border-bottom: 0 solid #8a857c;
	box-shadow: 0 0 0 0px #8a857c;
	border-radius: 2px;
}
#cards-wrapper-cardsdark .coffee-pub-bibliosoph-markdown-ul {
	font-size: 1.1em;
	font-weight:400;
	padding: 3px 8px 3px 0;
	margin: 4px 0;
	list-style-type: disc;
}
#cards-wrapper-cardsdark .coffee-pub-bibliosoph-markdown-ul {
	font-size: 1.0em;
	font-weight:400;
	padding: 3px 8px 3px 0;
	margin: 4px 0;
	list-style-type: disc;
}
#cards-wrapper-cardsdark .coffee-pub-bibliosoph-markdown-ol {
	font-size: 1.0em;
	font-weight:400;
	padding: 3px 8px 3px 0;
	margin: 4px 0;
	list-style-type: decimal-leading-zero;
}
#cards-wrapper-cardsdark .coffee-pub-bibliosoph-markdown-hr {
	border-top: 1px dotted #8a857c;
	margin: 0;
}

/* ------------------------------------ */
/* --- CARD LAYOUTS ------------------- */
/* ------------------------------------ */

/* User Cards */
#cards-user-cardsdark {
	color: #faf6e6;
    background: #121212;
    border-radius: 4px;
    padding: 6px;
    margin: 5px 0;
	display: flex;
}
/* token Image */
#cards-token-image-cardsdark {
    border-radius: 4px !important;
    height: 40px;
    padding: 0;
    margin: 0 8px 0 0;
	vertical-align: middle;
	float: left;
}
/* token Text Wrapper */
#cards-token-text-wrapper-cardsdark {
    padding: 0;
    margin: 4px 0 0 0;
	/* Use a flexbox layout */
	display: block;
	flex-direction: column;
	align-items: left;
}
/* token Text Name */
#cards-token-name-cardsdark {
	font-weight:100;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}
/* token Text Character */
#cards-token-character-cardsdark {
	font-weight:100;
    font-size: 0.7em;
    padding: 0;
    margin: 0;
}
