
/* ******************************************** */
/* *****          ALL CARDS             ***** */
/* ******************************************** */
/* Wrapper */
#cards-wrapper-cardsdark {
    color: #faf6e6;
    background: #222121;
    border-left: 2px solid #504A4A;
    border-right: 2px solid #504A4A;
    border-top: 2px solid #504A4A;
    border-bottom: 2px solid #504A4A;
    font-size: 1.0em;
    font-style: normal;
    border-radius: 5px;
    padding: 5px;
    margin: var(--intCardMarginTop) var(--intCardMarginRight) var(--intCardMarginBottom) var(--intCardMarginLeft);
}
/* Icon */
#cards-icon-cardsdark {
	font-weight:550;
    font-size: 1.0em;
    margin: 0 10px 0 0;
    padding: 0;
}
/* Title */
#cards-title-cardsdark {
	color: #faf6e6;
    background: #121212;
    border-radius: 4px;
	font-weight:500;
    font-size: 1.2em;
	text-transform: uppercase;
    padding: 5px 10px;
    margin: 0;
}
#cards-title-cardsdark .fas {
	color: #faf6e6;
}
/* Content - Light Back */
#cards-content-light-cardsdark {
	color: #323030;
    background: #faf6e6;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
}

/* Button */
#cards-button-cardsdark {
    background-color: #0e0c0c;
    color: #ffffff;
    border: 1px solid #4b4b4b;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px 0 0 0;
}
#cards-button-cardsdark:hover {
    background-color: #000000;
    color: #AEADAD;
    border: 1px solid #767676;
    box-shadow: none;
}

/* Inline Rolls */
#cards-content-light-cardsdark a.inline-result {
	color: #f0f0f0;
    background: #d15006;
    border-radius: 4px;
    padding: 1px 4px;
    margin: 1px 2px;
}








/* Light content card typography overrides */
#cards-content-light-cardsdark h1,
#cards-content-light-cardsdark h2,
#cards-content-light-cardsdark h3,
#cards-content-light-cardsdark p,
#cards-content-light-cardsdark pre,
#cards-content-light-cardsdark li,
#cards-content-light-cardsdark table,
#cards-content-light-cardsdark table tr,
#cards-content-light-cardsdark table th,
#cards-content-light-cardsdark table td {
    border: none;
    color: #0E0E0E;
}
#cards-content-light-cardsdark hr {
	border: none;
    border-top: 1px dotted #323030;
}
#cards-content-light-cardsdark pre {
	border-top: 0px solid #7A7972;
	border-bottom: 0px solid #7A7972;
	border-left: 0px dotted #BDB7A0;
	border-right: 0px dotted #BDB7A0;
}
#cards-content-light-cardsdark table {
	border-top: 1px solid #BDB7A0;
	border-bottom: 1px solid #BDB7A0;
	border-left: 1px dotted #BDB7A0;
	border-right: 1px dotted #BDB7A0;
}
#cards-content-light-cardsdark table tr {
	background: #F3F1E9;
    border-bottom: 1px dotted #CAC5B0;
}
#cards-content-light-cardsdark table th {
	background: #E5E1D5;
	border-bottom: 1px solid #BDB7A0;
}
/* token Image */
#cards-token-cardsdark {
    border-radius: 4px !important;
    width: 30px;
    padding: 0;
    margin: 5px 0;
}
/* Image Wrapper */
#cards-image-cardsdark {
    border: 0 solid #180505;
    border-radius: 4px !important;
    padding: 0;
    margin: 5px 0;
}
/* Image */
#cards-image-cardsdark img {
    border: 0 solid #180505;
    border-radius: 4px !important;
    display: block;
    margin: 0 auto;
    padding: 0;
}









