/* ------------------------------------ */
/* --- LOAD COMMON CSS FILES ---------- */
/* ------------------------------------ */

/* --- Shared ---------------------- */
@import "common.css";
@import "settings.css";
@import "loading-progress.css";

/* --- Overrides ------------------- */
@import "overrides-foundry.css"; 
@import "overrides-modules.css"; 

/* --- Dialogue Boxes / Windows --- */
@import "window-common.css";
@import "window-gmtools.css";
@import "window-query.css";
@import "window-skillcheck.css";
@import "token-movement.css";
@import "window-xp.css";
@import "window-stats.css";
@import "window-roll-normal.css";
@import "window-roll-cinematic.css";
@import "window-token-replacement.css";
@import "window-pin-config.css";

/* --- Tabs ---------------------- */
@import "tabs-scenes.css";

/* --- Toolbars ------------------- */
@import "toolbars.css";
@import "toolbar-zones.css";
@import "toolbar-encounter.css";
@import "journal-tools.css";

/* --- Cards ---------------------- */
@import "cards-legacy.css"; /* LEGACY layout + theme (cardsdark) for old cards */
@import "cards-layout.css"; /* master Layout */
@import "cards-themes.css"; /* master Themes */
@import "cards-xp.css";
@import "cards-stats.css";
@import "cards-skill-check.css";

/* --- Menubar ---------------------- */
@import "menubar.css";

/* --- Context Menus (global) ------ */
@import "menu-context-global.css";

/* --- Pins ---------------------- */
@import "pins.css";

/* --- Links ---------------------- */
@import "links-themes.css";

/* --- Timers ---------------------- */
@import "timer-combat.css";
@import "timer-planning.css";   
@import "timer-round.css";   

/* --- Voting ---------------------- */
@import "vote.css";   

/* --- Latency Display ---------------------- */
@import "latency.css";

/* --- Combat Tracker ---------------------- */
@import "combat-tools.css";

/* --- Panel Assistant ---------------------- */
@import "panel-assistant.css";

/* --- Utilities ---------------------- */
@import "utility-quickview.css";

/* --- Sidebar Pin ---------------------- */
@import "sidebar-pin.css";

/* --- Sidebar Style ---------------------- */
@import "sidebar-style.css";

/* --- Sidebar Combat (Chat + Combat Tab) ---------------------- */
@import "sidebar-combat.css";

/* --- Broadcast Mode ---------------------- */
@import "broadcast.css";