/* ------------------------------------ */
/* -- LAYOUT                 ---------- */
/* ------------------------------------ */

/* ----- VARIABLES ----- */

/* Window Variables */
:root {
    --element-radius: 4px;
    --container-opacity: 0.85;
}

/* Main Window */
div#coffee-pub-blacksmith {
    min-height: 506px;
}

/* Window Content */
div#coffee-pub-blacksmith .window-content {
    opacity: var(--container-opacity);
    padding: 10px;
    background: #222222;
    color: #ffffff;
}

/* Main Wrapper */
#coffee-pub-blacksmith-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 350px;
    height: 100%;
    gap: 10px;
}

/* Main Container */
#coffee-pub-blacksmith-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Workspace Wrapper */
#blacksmith-workspace-wrapper {
    width: 350px;
    flex: 0 0 350px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    background: #222222;
}

#blacksmith-workspace-wrapper.workspace-hidden {
    width: 0;
    flex: 0 0 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

/* Workspace Content */
#blacksmith-workspace-content {
    flex: 1;
    overflow-y: auto;
    border-radius: var(--element-radius);
}

/* --------BEGIN NON BLACKSMITH WRAPPER STUFF ----------- */

/* Form */
div#coffee-pub-blacksmith,
div#coffee-pub-bibliosoph {
    overflow: hidden;
    min-width: var(--base-width);
    transition: min-width 0.3s ease;
    box-sizing: border-box;
}

div#coffee-pub-blacksmith.has-workspace {
    min-width: var(--total-width);
    width: var(--total-width);
    max-width: var(--total-width);
}

/* Window Background */
div#coffee-pub-blacksmith .window-content,
div#coffee-pub-bibliosoph .window-content {
	opacity: var(--container-opacity);
    padding: var(--container-padding);
    overflow: hidden;
	padding: 10px;
}

div#coffee-pub-blacksmith {
	min-height: 506px;
}

/* --------END NON BLACKSMITH WRAPPER STUFF ----------- */


/* -------- BLACKSMITH WRAPPER ----------- */
/*
	This container will hold the following two divs:
	- coffee-pub-blacksmith-container which holds the normal chat stuff
	- blacksmith-workspace-wrapper which holds the workspace content
*/

div#coffee-pub-blacksmith-query .window-content {
	opacity: var(--container-opacity);
    padding: var(--container-padding);

}

/* BEGIN This fixes the form breakign the div layout */
#coffee-pub-blacksmith-query {
	display: flex;
	height: 100%;
	width: 100%;
}  
#coffee-pub-blacksmith-container,
#blacksmith-workspace-wrapper {
	flex: 1;
	overflow-y: auto;
}
/* END This fixes the form breakign the div layout */
  
  
#coffee-pub-blacksmith-wrapper {
	clear: both;
	display: flex;
	flex-direction: row; 
	min-height: 350px;
	width: 100%;
	height: 100%;
	overflow: hidden;
    transition: all 0.3s ease;
}
  
#coffee-pub-blacksmith-wrapper .window-content {
	opacity: var(--container-opacity);
	padding: var(--container-padding);
	overflow: hidden;
	padding: 10px;
}
  
/* -------- BLACKSMITH CONTAINER ----------- */
/*
	This container will hold the normal chat stuff
	- the content in it adapts to the available space
*/
#coffee-pub-blacksmith-container {
	flex: 1;
	min-width: var(--base-width);
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: all 0.3s ease;
}

/* BEGIN PULLED THESE FROM THE CUSTOM CSS MODULE

/* Toolbar (Above Input) */

div#blacksmith-message-options  {
	margin-top: 4px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	background-color: transparent;

}
/* Checkbox -- SEND MESSAGE */
div#blacksmith-message-options .blacksmith-checkbox {
	margin-top: 0px;
	margin-right: 4px;
	margin-bottom: 6px;
	width: 1.0em;
	position: relative;
	vertical-align: middle; 
	align-items: center; /* Center content vertically */
	border: 1px solid #2b2b2b;
	background-color: #f6f1ed;
	color: #ffffff;
}

/* END PULLED THESE FROM THE CUSTOM CSS MODULE





/* -------- BLACKSMITH OUTPUT ----------- */
/*
	This container will hold the output from the the AI chat
	- It sits in side the container div
	- the content in it adapts to the available space
	- it has a fixed height ... BUT IT SHOULD BE 100%
*/
#coffee-pub-blacksmith-output {
    height: 200px;
	flex-grow: 1;
    overflow: auto; /* For scrolling when the content exceeds div size */
	overflow-y: visible;
	border-radius: var(--element-radius);
	margin-bottom: 8px;
	padding: 6px;
}

/* -------- BLACKSMITH INPUT ----------- */
/*
	This container will hold the input from the user
	- It sits in side the container div
	- the content is fixed height
*/
#coffee-pub-blacksmith-input {
    flex-shrink: 0; /* Prevents this div from shrinking */
	padding: 0 1px;
}





/* -------- WORKSPACE WRAPPER ----------- */
/*
	This div will hold the workspace content
	- it will be hidden by default
	- it will be shown when the user clicks on the workspace button
	- it is a fixed width
*/
#blacksmith-workspace-wrapper {
    width: var(--workspace-width);
    flex: 0 0 var(--workspace-width);
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    margin-left: var(--container-padding);
    transition: all 0.3s ease;
    background: #222222;
    color: #000000;
}
#blacksmith-workspace-wrapper.workspace-hidden {
    width: 0;
    flex: 0 0 0;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
}

/* Holds the content in the workspace */
#blacksmith-workspace-content {
    flex: 1;
    overflow-y: auto;
    padding-top:0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-radius: var(--element-radius);
  }

#blacksmith-workspace-footer {
    padding-top:4px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    box-sizing: border-box;
}

/* Hide/Show the internal divs in content */
.workspace-content {
    display: none; 
}
.workspace-content:not(.hidden) {
    display: block; 
}
.hidden {
    display: none;
}

/* --- -------------------------- --- */
/* ---   WORKSPACE AND FORMS   --- */
/* --- -------------------------- --- */


#blacksmith-query-workspace-character,
#blacksmith-query-workspace-quickactions,
#blacksmith-query-workspace-narrative,
#blacksmith-query-workspace-encounter,
#blacksmith-query-workspace-assistant {
    
    font-weight:100;
    font-size: 0.9em;
    padding: 0px;
    background-color: transparent;
    border-radius: var(--element-radius);
}

.workspace-content h3{
    font-weight:700;
    font-size: 1.2em;
	text-transform: uppercase;
	margin-bottom: 10px;
    padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	background-color: #000000;
	color: #ffffff;
	border: 1px solid #2b2b2b;
	border-radius: var(--element-radius);
}



/* --- -------------------------- --- */
/* --- WORKSPACE SECTION ELEMENTS --- */
/* --- -------------------------- --- */


/* Workspace Section */
.workspace-section {
    font-weight:100;
    font-size: 1.0em;
	margin-bottom: 10px;
    padding-bottom: var(--container-padding);
	padding-top: var(--container-padding);
	padding-left: var(--container-padding);;
	padding-right: var(--container-padding);
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	background-color: #000000;
	color: #ffffff;
	border: 1px solid #2b2b2b;
	border-radius: 5px;
}


.workspace-section-divider {
	color: #a19476ce;
	font-size: 0.8em;
	text-transform: uppercase;
    background-color: transparent;
	border-top: 1px dotted #4c4c4c;
	border-bottom: 0px solid #a19476ce;
	border-left: 0px solid #a19476ce;
	border-right: 0px solid #a19476ce;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	
}

.workspace-section-spacer {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	
}


.workspace-section-nodivider {
	padding-top: 5px;
	padding-bottom: 5px;
}


.message-box {
    border: 2px solid #a07836;
    text-align: center;
    padding: 15px;
    margin: 20px 0;
	background-color: #d9d5d2;
	color: #2b1213;
	border-radius: 6px;
	font-size: 1.1em;
	font-weight: 400;
  }

/* Collapse/Expand Workspace Section */


.workspace-section-content {
    padding-top: 0px;
	padding-bottom:0px;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	transition: max-height 0.3s ease, opacity 0.3s ease;
    max-height: 1000px; /* Set a high enough value to accommodate the content */
    overflow: hidden; /* Ensure content doesn't overflow */
    opacity: 1; /* Ensure the content is fully visible */
}
.workspace-section-content.collapsed {
    max-height: 0; /* Collapse the height to 0 */
    opacity: 0; /* Fade out the content */
}
/* this goes ina empty section */
.workspace-helper-text {
	margin: auto;
	font-size: 0.75em;
	color: #786847;
	text-transform: uppercase;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
/* Heading 4 */
.workspace-section h4 {
    font-weight: 600;
    font-size: 1.1em;
	text-transform: uppercase;
	margin-top: 0x;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
    color: #ffffff;
	padding-top: 2px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

/* Heading 5 */
.workspace-section h5 {
    font-weight: 300;
    font-size: 0.7em;
	text-transform: uppercase;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
    color: #ffffff;
}
/* Labels (e.g. Checkbox Text) */

.workspace-section label {
    display: block;
}

/* Form Labels / Helpers */

.workspace-section .form-label {
	font-weight: 500;
    font-size: 1.0em;
	margin-top: 20px;
    margin-bottom: 5px;
	padding-left: 4px;
}

.workspace-section .form-label .helper {
	font-weight: 300;
    font-size: 1.0em;
	padding-left: 4px;
	color: #838080;
}

.workspace-section .form-details {
	font-weight: 500;
    font-size: 0.8em;
	margin-top: 10px;
    margin-bottom: 0px;
	padding-left: 4px;
}

.workspace-section .form-details .value {
	font-weight: 300;
    font-size: 1.0em;
	padding-left: 4px;
	color: #838080;
}

/* Inputs / Textarea */
.workspace-section textarea,
.workspace-section input {
    padding: 10px !important;
    margin-top:5px !important;
    border-radius: 4px !important;
	border: 1px solid #2b2b2b !important;
	background-color: #f6f1ed !important;
}
::placeholder,
input::placeholder {
  	color: #a5a3a3;
	font-weight: 100;
    font-size: 1.0em;
	text-align: middle;
}
/* Dropdowns */
.workspace-section select {
    padding: 10px;
    margin-top:5px;
    border-radius: 4px;
	border: 1px solid #2b2b2b;
	background-color: #f6f1ed;
    max-width: calc(var(--workspace-width) - 4 * var(--container-padding));
    white-space: normal;
}

.workspace-section option {
    padding: 10px;
    margin-top:5px;
    border-radius: 1px;
	border: 1px solid #2b2b2b;
	background-color: #f6f1ed;
}
















/* Tokens and toggles */

.workspace-section .tokens-container {
    margin-top: 10px;
	padding-top: 0px;
	padding-bottom:0px;
	padding-right: 0px;
	padding-left: 0px;
} 

/* Container for the player cards */
.tokens-container, .monsters-container, .npc-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of items */
    gap: 10px; /* Space between cards */
}


.workspace-button-group {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    gap: 10px !important;
}

.workspace-button-group button {
    flex: 1 1 0 !important;
    min-width: 0 !important;
}


/* MONSTER AND TOKEN BUTTONS */
.workspace-section .add-all-button,
.workspace-section .add-monsters-button,
.workspace-section .add-npcs-button,
.workspace-section .add-tokens-button {
    display: flex;
    flex-direction: row; /* Ensure horizontal alignment */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    background-color: #313030;
    color: #ffffff;
    font-size: 2.0em;
    transition: background-color 0.2s ease;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #6c6c6b;
    padding: 0px;
	padding-top: 2px;
    width: 100%;
    margin: 0px;
}

.workspace-section .add-all-button i,
.workspace-section .add-monsters-button i,
.workspace-section .add-npcs-button i,
.workspace-section .add-tokens-button i {
    font-size: 80%;
    padding: 9px 14px; /* Adjusted padding for consistency */
}

.workspace-section .add-all-button:hover,
.workspace-section .add-monsters-button:hover,
.workspace-section .add-npcs-button:hover,
.workspace-section .add-tokens-button:hover {
    background-color: #550808;
	border: 1px solid #b03d16;
}



/* WORKSHEET TOKEN CARDS */


/* Player card styling */
.player-card {
    display: flex;
    align-items: center; /* Center content vertically */
    border-radius: 5px;
    border: 2px solid #a19476ce;
    padding: 2px;
    margin-top: 0px;
    width: calc(50% - 5px); /* Two columns with space between */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.player-card img {
    width: 50px; /* Set a fixed width for the image */
    height: 50px; /* Set a fixed height for the image */
    border-radius: 5px;
    object-fit: cover; /* Ensure the image covers the area */
}

.player-card-details {
    display: flex;
    flex-direction: column;
	margin-left: 5px;
}

.workspace-section .character-name {
    font-size: 0.8em;
	font-weight: 500;
	text-transform: uppercase;
    margin-top: 0px;
}

.workspace-section .character-details {
	margin-top: 0px;
}
.workspace-section .character-rollup {
	font-size: 0.7em;
	font-weight: 400;
	text-transform: uppercase;
	color: #dcdcdc;
}
.workspace-section .character-extra {
	font-size: 0.7em;
	font-weight: 400;
	color: #dcdcdc;
}






/* Toggle WORKSPACE Button */
.toggle-button-workspace {
	float: right;
    background-color: #313030;
    color: #ffffff;
    border: 1px solid #4b4b4b;
    padding-top: 5px;
	padding-bottom:3px;
	padding-right: 2px;
	padding-left: 5px;
    font-size: .8em;
    border-radius: 4px;
    margin-left: 4px;
    transition: background-color 0.3s ease;
    width: 30px; /* Set width to 25px */
    height: 20px; /* Set height to 25px */
    display: flex; /* Center icon */
    align-items: center; /* Center icon */
    justify-content: center; /* Center icon */
    cursor: pointer;
    
}
.toggle-button-workspace:hover {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #767676;
    box-shadow: none;
}


/* Toggle SECTION Button */
.toggle-button-section {
	float: right;
    background-color: #313030;
    color: #ffffff;
    border: 1px solid #4b4b4b;
    padding-top: 3px;
	padding-bottom:2px;
	padding-right: 2px;
	padding-left: 5px;
    font-size: 0.8em;
	margin-top: 0x;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
    border-radius: 4px;
    
    transition: background-color 0.3s ease;
    width: auto; /* Set width to 25px */
    height: 1.4em; /* Set height to 25px */
    display: flex; /* Center icon */
    align-items: center; /* Center icon */
    justify-content: center; /* Center icon */
    cursor: pointer;
    
}
.toggle-button-section:hover {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #767676;
    box-shadow: none;
}


/* Toggle Button */
.toggle-button {
	float: right;
    background-color: #313030;
    color: #ffffff;
    border: 1px solid #4b4b4b;
    padding-top: 5px;
	padding-bottom:3px;
	padding-right: 2px;
	padding-left: 5px;
    font-size: .8em;
    border-radius: 4px;
    margin-left: 4px;
    transition: background-color 0.3s ease;
    width: 30px; /* Set width to 25px */
    height: 20px; /* Set height to 25px */
    display: flex; /* Center icon */
    align-items: center; /* Center icon */
    justify-content: center; /* Center icon */
    cursor: pointer;
    
}
.toggle-button:hover {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #767676;
    box-shadow: none;
}



/* Flex layout for skill roll options */
.form-options {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 10px !important;
    align-items: left !important;
}

.form-options label,
.form-options select,
.form-options input,
.form-options textarea {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
    flex: 1 !important;
}

/* Checkboxes */
.workspace-section input[type="checkbox"] {
    margin-top: 0px !important;
	margin-right: 4px !important;
	width: 1.0em !important;
	position: relative !important;
	vertical-align: middle !important; 
	border: 1px solid #2b2b2b !important;
	background-color: #f6f1ed !important;
	color: #f6f1ed !important;
}











/* --- -------------------------- --- */
/* ---     FORM OPTIONS 	      --- */
/* --- -------------------------- --- */




/* == TOGGLE BUTTONS == */

.form-options .toggle-button-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
	padding-top: 10px;
}

.form-options .toggle-button {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Add this line to left-align the content */
    font-size: 1.0em;
	background-color: #0e0c0c;
    color: #ffffff;
    border: 1px solid #4b4b4b;
    padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 6px;
	padding-right: 4px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.form-options .level-button {
    flex: 1 1 calc(34.33% - 10px);
	max-width: calc(33.33% - 10px);
}
.form-options .class-button {
    flex: 1 1 calc(50% - 10px);
	max-width: calc(50% - 10px);
}
.form-options .toggle-button i {
    margin-right: 8px;
	padding-top: 3px; /* adjustment to vert align icon */

}
.form-options .toggle-button.active {
    background-color: #114411;
    color: #ffffff;
}

.form-options .toggle-button.auto {
    background-color: #063883;
    color: #ffffff;
}

.form-options .toggle-button:hover {
    background-color: #239023;
}

.player-card .clear-button,
.form-options .clear-button {
    background-color: transparent;
    color: #dddddd;
    border: 0px solid #686868;
    border-radius: 5px;
    width: auto;
    height: auto;
    text-align: center;
    line-height: 1.2em;
    font-size: 1.0em;
	font-weight: 900;
    cursor: pointer;
	padding : auto;
	margin-top: 0px;
	margin-bottom: 0px; /* adjustment to vert align icon */
	margin-right: 0px;
    margin-left: auto; /* Push the button to the right */
}
.form-options .clear-button {
    display: none;
}
.player-card .clear-button:hover,
.form-options .clear-button:hover {
    background-color: #f52127;
    color: #ffffff;
    border: 0px solid #686868;
}
.form-options .count {
    display: none;
	color: #c9afaf;
    margin-left: 0px;
}
.form-options .count::before {
    content: "•";
    margin-right: 2px;
	margin-left: 2px;
	color: #c9afaf;

}
.form-options .count::after {
    content: "";
    margin-left: 0px;
}



/* ENCOUNTER GRIDS - FOR TOKENS */

.form-options .character-types-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.form-options .character-types-grid label {
    display: flex;
    align-items: center;
}



/* == BADGES == */

.encounter-info-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
	margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    gap: 10px; /* Create a 10px gap between the divs */
}
.info-badge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1; /* Allow the divs to grow and fill the available space */
    margin: 0; /* Remove the margin to avoid extra gaps */
    max-width: calc(25% - 7.5px); /* Ensure each div takes up 25% of the row minus half the gap */
}
.info-badge-container label {
    font-size: 0.75em;
    margin-bottom: 4px;
	text-transform: uppercase;
}
.info-badge {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #59543F;
    min-width: 40px;
    border-right: 0px solid #a19476ce;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    width: 100%; /* Ensure the badges take up the full width of their container */
}

.info-badge-total {
	background-color: #248592;
}

.info-badge-special {
	background-color: #c35206;
}

.big-number {
    font-size: 1.5em;
    font-weight: 300;
}
.normal-badge {
    font-weight: 200;
}
.bold-badge {
    font-weight: 900;
}






.gap-lessthan {
	background-color: #456904;
}
.gap-greaterthan {
	background-color: #6a2127;
}
.gap-equalto {
	background-color: #248592;
}
.disposition-neutral {
	border: 2px solid #12908E;
}
.disposition-friendly {
	border: 2px solid #196405;
}
.disposition-secret {
	border: 2px solid #329F9D;
}
.disposition-hostile {
	border: 2px solid #C63E10;
}
.hp-dying {
	border-style: dotted;
}


/* == ENCOUNTER RATING == */

.encounter-rating-badge {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    font-size: 1.6em;
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
}

.encounter-rating-badge i {
    margin-right: 8px;
}
.encounter-rating-none {
    background-color: #6c757d;
    color: #ffffff;
}
.encounter-rating-trivial {
    background-color: #155724;
    color: #ffffff;
}

.encounter-rating-easy {
    background-color: #004085;
    color: #ffffff;
}

.encounter-rating-medium {
    background-color: #856404;
    color: #ffffff;
}

.encounter-rating-hard {
    background-color: #721c24;
    color: #ffffff;
}

.encounter-rating-deadly {
    background-color: #841517;
    color: #ffffff;
}

.encounter-rating-deadly-slow {
    animation: pulseColorSlow 1.5s infinite;
}

.encounter-rating-deadly-medium {
    animation: pulseColorMedium 1s infinite;
}

.encounter-rating-deadly-fast {
    animation: pulseColorFast 0.5s infinite;
}

@keyframes pulseColorSlow {
    0% { background-color: #d02124; }
    50% { background-color: #841517; }
    100% { background-color: #d02124; }
}

@keyframes pulseColorMedium {
    0% { background-color: #d02124; }
    50% { background-color: #841517; }
    100% { background-color: #d02124; }
}

@keyframes pulseColorFast {
    0% { background-color: #d02124; }
    50% { background-color: #841517; }
    100% { background-color: #d02124; }
}
@keyframes pulseColorImpossible {
    0% { background-color: #831416; }
    50% { background-color: #370809; }
    100% { background-color: #831416; }
}
.encounter-rating-impossible {
    background-color: #3f0808;
    color: #fffcfa;
    animation: pulseColorImpossible 0.25s infinite;
}


/* == SLIDERS == */

.form-options .slider-container {

    display: flex;
    align-items: center; /* Ensures vertical alignment */
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
.form-options .slider-container i {
	font-size: 1.5em;
	height: auto;
	margin: 0 5px; /* Adds horizontal spacing */
	padding-top: 6px;
}


.form-options input[type="range"] {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 22px; /* Slider height */
    opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
    transition: opacity .2s; /* 0.2 seconds transition on hover */
    background: linear-gradient(to right, #550808 0%, #550808 50%, #550808 50%, #550808 100%);
    color: #ffffff;
    outline: 1px solid #4b4b4b; /* Remove outline */
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left:0px;
    padding-right: 0px;
    border-radius: 6px;
	flex-grow: 1; /* Allows the slider to take up available space */
    margin: 0; /* Removes default margin */
}

/* Mouse-over effects */
.form-options input[type="range"]:hover {
    opacity: 1; /* Fully opaque on hover */
}

/* The slider track */
.form-options input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: transparent; /* Use transparent background */
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 0 0 #ceccc9;
}

.form-options input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8px;
    background: transparent; /* Use transparent background */
    border: none;
    border-radius: 2px;
}


/* The slider handle (thumb) */
.form-options input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 16px; /* Handle width */
    height: 16px; /* Handle height */
    cursor: pointer; /* Cursor on hover */
    background-color: #aaaaaa;
    color: #ffffff;
    border: 1px solid #888888;
    border-radius: 3px;
    position: relative;
    z-index: 1; /* Ensure thumb is above the track */
}

/* The slider handle (thumb) for Firefox */
.form-options input[type="range"]::-moz-range-thumb {
    width: 16px; /* Handle width */
    height: 16px; /* Handle height */
    cursor: pointer; /* Cursor on hover */
    background-color: #550808;
    color: #ffffff;
    border: 1px solid #4b4b4b;
    border-radius: 6px;
    position: relative;
    z-index: 1; /* Ensure thumb is above the track */
}


.form-options input[type="range"]:hover::-webkit-slider-thumb {
    background-color: #ffffff; /* Change background color on hover */
    border-color: #888888; /* Change border color on hover */
}













/* VERIFY WHAT THESE DO OR IF WE USE THEM */


div#blacksmith-message-options label {
	margin-top: 0px;
	margin-right: 4px;
	margin-bottom: 6px;
	font-size: 1.0em;
	font-weight: 100;
	position: relative;
	vertical-align: middle; 
	align-items: center; /* Center content vertically */
	color: #ffffff;
}

/* Collapse/Expand Workspace Section */

#blacksmith-clear-workspace,
#blacksmith-toggle-workspace {
    float: right;
    background-color: #313030;
    color: #ffffff;
    border: 1px solid #4b4b4b;
    padding-top: 5px;
	padding-bottom:3px;
	padding-right: 2px;
	padding-left: 5px;
    font-size: .8em;
    border-radius:var(--element-radius);
    margin-left: 4px;
    transition: background-color 0.3s ease;
    width: 30px; /* Set width to 25px */
    height: 20px; /* Set height to 25px */
    display: flex; /* Center icon */
    align-items: center; /* Center icon */
    justify-content: center; /* Center icon */
}

#blacksmith-clear-workspace,
#blacksmith-toggle-workspace:hover {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #767676;
    box-shadow: none;
}





/* -------- ------------------------------------ ----------- */
/* -------- THINGS BELOW HAVE NOT BEEN ORGANIZED ----------- */
/* -------- ------------------------------------ ----------- */




#blacksmith-input-message,
	button[type="submit"] {
	flex: none; 
}



/* Text Area */
.blacksmith-textarea,
.bibliosoph-textarea {
    font-family: var(--font-primary);
    border: none;
    padding: 12px;
    font-size: 1.1em;
    height: auto;
    border-radius: var(--element-radius);
    word-break: break-word;

}


/* Button: Small Round Pill Button */
.blacksmith-send-button-round,
.bibliosoph-send-button-round {
    flex: 0 1 0;
	content: "";
    padding: 2px;
    font-size: 28px;
    position: absolute;
    right: 15px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    bottom: 20px;
}
/* Button: Standard Button */
.blacksmith-send-button-normal,
.bibliosoph-send-button-normal {
    padding: 2px;
	margin-top: 4px;
    font-size: 0.9em;
    border-radius: var(--element-radius);

}


/* -- BLACKSMITH SPECIFIC -- */

.button-main::after {
	content: " Consult the Regent";
	text-transform: uppercase;
}

.button-workspace::after {
	content: " Channel Divinity";
	text-transform: uppercase;
}

.blacksmith-chat-button-normal::after {
	content: "";
	text-transform: uppercase
}





div#blacksmith-message-wrapper-processing,
div#blacksmith-message-wrapper {
	margin-bottom: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	border-radius: var(--element-radius);
}

div#blacksmith-message-header {
	font-weight: 800;
    font-size: 1.1em;
	text-transform: uppercase;
	margin-bottom: 0px;
	padding-top: 4px;
	padding-bottom: 3px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: var(--element-radius) var(--element-radius) 0 0;
}

div#blacksmith-message-header-processing {
	font-weight:800;
    font-size: 1.0em;
	text-transform: uppercase;
	margin-bottom: 0px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: var(--element-radius);
}

.blacksmith-message-speaker{
	font-weight: 800;
    font-size: 1.0em;
	padding-right: 0px;
	padding-left: 3px;
}

div#blacksmith-message-content {
	font-weight:100;
    font-size: 1.0em;
	margin-bottom: 0px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius:  0 0 var(--element-radius) var(--element-radius);
	
}

div#blacksmith-message-divider {
	color: #a19476ce;
	font-size: 0.8em;
	text-transform: uppercase;
    background-color: transparent;
	border-top: 1px solid #a194764d;
	border-bottom: 1px solid #a194764d;
	border-left: 0px solid #a194764d;
	border-right: 0px solid #a194764d;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;
	
}




/* ********* BLACKSMITH TOOLBARS ********* */

/* message toolbar */
div#blacksmith-message-toolbar {
    display: flex; /* Enable Flexbox */
    flex-direction: row; /* Ensure buttons are in a row */
    font-weight: 100;
    font-size: 1.0em;
    margin-bottom: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: var(--element-radius) var(--element-radius) var(--element-radius) var(--element-radius);
}
div#blacksmith-message-toolbar {
	color: #bdbdae;
    background-color: #ada39d;
	border-top: 1px solid #8d8061;
	border-bottom: 1px solid #8d8061;
	border-left: 1px solid #8d8061;
	border-right: 1px solid #8d8061;
	box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 2px 0px;
}

/* workspace toolbar */
div#blacksmith-workspace-toolbar {
	display: flex; /* Enable Flexbox */
    flex-direction: row; /* Ensure buttons are in a row */
	font-weight: 100;
    font-size: 1.0em;
	margin-top: 0px;
	margin-bottom: 8px;
    padding-bottom: 5px;
	padding-top:  5px;
	padding-left:  2px;
	padding-right: 2px;
	background-color: transparent;
	color: #ffffff;
	border-top: 1px dotted #4b4b4b;
	border-bottom: 1px dotted #4b4b4b;
}






.toolbar-left {
	justify-content: flex-start; /* Align items to the left */
}
.toolbar-right {
	justify-content: flex-end; /* Align items to the right */
}

div#blacksmith-workspace-toolbar button,
div#blacksmith-message-toolbar button {
    display: flex; /* Enable Flexbox for button content */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    width: 30px; /* Default square size */
    height: 30px; /* Default square size */
    margin-left: 4px; /* Add some space between buttons */
    background-color: #313030;
    color: #ffffff;
    border: 1px solid #4b4b4b;
    padding: 0; /* Remove default padding */
	padding-left: 4px; /* allow for icon drift */
    font-size: 1em; /* Adjust font size */
    border-radius: var(--element-radius); /* Adjust border radius */
    transition: width 0.3s ease; /* Smooth transition for width change */
}
div#blacksmith-workspace-toolbar button span,
div#blacksmith-message-toolbar button span {
    display: none; /* Hide label by default */
}

div#blacksmith-message-toolbar button:hover {
    background-color: #971416;
    color: #ffffff;
    border: 1px solid #767676;
    box-shadow: none;
}

div#blacksmith-workspace-toolbar button[data-label],
div#blacksmith-message-toolbar button[data-label] {
    width: auto; /* Adapt width to content */
    padding: 0 10px; /* Add padding for content */
}
div#blacksmith-workspace-toolbar button[data-label] span,
div#blacksmith-message-toolbar button[data-label] span {
    font-size: .8em; /* Adjust font size */
	text-transform: uppercase;
	display: inline; /* Show label when data-label attribute is present */
    margin-left: 4px; /* Add space between icon and label */
}
/*selected toolbar button*/

/* #div#blacksmith-workspace-toolbar button:active,
#blacksmith-message-toolbar button.active {
    background-color: #b11b1b;
} */

#blacksmith-workspace-footer button.active,
#blacksmith-message-toolbar button.active {
	background-color: #550808;
	color: #ffffff;
	border: 1px solid #767676;
}

/* ------------------------------------ */
/* -- THEMES                 ---------- */
/* ------------------------------------ */

/* Window Background */
div#coffee-pub-blacksmith-query .window-content,
div#coffee-pub-blacksmith .window-content,
div#coffee-pub-bibliosoph .window-content {
    background: #222222;
	color: #ffffff;
}


/* Button: Small Round Pill Button */
.blacksmith-send-button-round,
.bibliosoph-send-button-round {
    background-color: var(--color-text-light-0);
    color: rgba(0, 170, 0, 0.8);
}
/* Button: Standard Button */
.blacksmith-send-button-normal,
.bibliosoph-send-button-normal {
    background-color: #0e0c0c;
    color: #ffffff;
    border: 1px solid #4b4b4b;
}
.blacksmith-send-button-normal:hover,
.bibliosoph-send-button-normal:hover {
    background-color: #000000;
    color: #AEADAD;
    border: 1px solid #767676;
    box-shadow: none;
}


/* -- BLACKSMITH SPECIFIC -- */

/* Text Area (INPUTS) */
.blacksmith-textarea {
    color: #000000;
    background-color: #f6f1ed;
	background: url(../../coffee-pub-blacksmith/images/tiles/tile-parchment-white.webp) repeat;
}

/* Blacksmith HTML Output */
div#coffee-pub-blacksmith-output {
    background: #222222;
	color: #000000;
	background: url(../../coffee-pub-blacksmith/images/tiles/tile-parchment-white.webp) repeat;
	
}

/* Blacksmith HTML Output */
div#blacksmith-workspace-wrapper {
    background: #222222;
	color: #000000;
	
}



div#blacksmith-message-wrapper-processing,
div#blacksmith-message-wrapper {
	color: #BBCD9C;
}

div#blacksmith-message-header {
	color: #13130f;
    background-color: #e4ddd9;
	border-top: 1px solid #8d8061;
	border-bottom: 0px solid #8d8061;
	border-left: 1px solid #8d8061;
	border-right: 1px solid #8d8061;
	box-shadow: rgba(99, 99, 99, 0.3) 0px 0px 1px 1px;
}

div#blacksmith-message-wrapper .blacksmith-message-header-question {
	color: #494230;
    background-color: #ddd3ce;
}
div#blacksmith-message-wrapper .blacksmith-message-header-answer {
	color: #3d3b35;
    background-color: #c4bcaa;
}


div#blacksmith-message-header-processing {
	border: 2px solid #A2D14F;
	background-color: #4F760C;
	animation: message-processing 2s infinite;
	box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 2px 1px;
}
@keyframes message-processing {
	0% {border-color: #7FA33E;}
	10% {border-color: #7FA33E;}
	20% {border-color: #7FA33E;}
	30% {border-color: #7FA33E;}
	40% {border-color: #6E9E1E;}
	45% {border-color: #7EB71E;}
	50% {border-color: #8DD218;}
	55% {border-color: #7EB71E;}
	60% {border-color: #6E9E1E;}
	70% {border-color: #7FA33E;}
	90% {border-color: #7FA33E;}
	80% {border-color: #7FA33E;}
	100% {border-color: #7FA33E;}
	
	0% {background-color: #2B4009;}
	10% {background-color: #2B4009;}
	20% {background-color: #2B4009;}
	30% {background-color: #2B4009;}
	40% {background-color: #355008;}
	45% {background-color: #45690A;}
	50% {background-color: #4D750B;}
	55% {background-color: #45690A;}
	60% {background-color: #355008;}
	70% {background-color: #2B4009;}
	90% {background-color: #2B4009;}
	80% {background-color: #2B4009;}
	100% {background-color: #2B4009;}
	
}

div#blacksmith-message-content {
	color: #13130f;
    background-color: #f6f1ed;
	border-top: 1px dotted #8d8061;
	border-bottom: 1px solid #8d8061;
	border-left: 1px solid #8d8061;
	border-right: 1px solid #8d8061;
	box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 2px 0px;
}

div#blacksmith-message-content h4 {
	color: #746950;
	border-bottom: 1px dotted #b6a57e;
}

div#blacksmith-message-content h5 {
	color: #636350;
}








/* -- BIBLIOSOPH SPECIFIC -- */

/* Text Area (INPUTS) */
.bibliosoph-textarea {
    color: #000000;
    background-color: #cfd0ba;
	background: url(../../coffee-pub-blacksmith/images/tiles/tile-parchment.webp) repeat;
}

/* Option Container */
.bibliosoph-options {
	color: #ffffff;
	background-color: #0e0c0c;
}
/* Option items */
.bibliosoph-options option {
	color: #ffffff;
	background-color: #0e0c0c;
}

.bibliosoph-option-image {
	border-color: #4b4b4b;
	filter: brightness(75%);
}
.bibliosoph-option-image:hover {
	border-color: #f4eb72;
	filter: brightness(125%);
}
.bibliosoph-option-image-selected {
    /* Add your preferred styling here */
    border-color: #a4c76a;
	filter: brightness(100%);
}


/* Div Selector */
#cards-user-cardsdark.bibliosoph-option-div-selected {
	background-color: #a4c76a;
	color: #000000;
	filter: brightness(100%);
}


#cards-user-cardsdark.bibliosoph-option-div-selected img{
    /* Add your preferred styling here */
    border-color: #293C00;
	filter: brightness(120%);
}



/* ----- TOOLTIPS ----- */

.tooltip-item {
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  	color: #dbdbdb;

}

.tooltip-label {
  	color: #818181;
}
/* Tooltip Divider */
.tooltip-divider {
	color: #818181;
}
/* Tooltip text */
.tooltiptext {
	background-color: #3b3b3b;
	color: #ffffff;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
.tooltip-item:hover {
	color: #f4eb72;
}
.tooltip-item .tooltiptext::after {
	border-color: #3b3b3b transparent transparent transparent;
  }


/* ------------------------------------------------------------------------------------------------- */
/* -- PARKING THIS HERE FOR NOW THEN MOVEE BACK TO LAYOUT WHEN I FIGURE OUT HOW TO DO IT  ---------- */
/* ------------------------------------------------------------------------------------------------- */






/* -- BIBLIOSOPH SPECIFIC -- */

.bibliosoph-send-button-normal::after {
	content: " Send Message";
	text-transform: uppercase;
}

/* Option Container */
.bibliosoph-options {
	color: #ffffff;
	background-color: #0e0c0c;
}
/* Option items */
.bibliosoph-options option {
	border: none;
}

/* Checkbox */
.bibliosoph-checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5px;
}
.bibliosoph-checkbox {
	border-radius: 2px;
}
.bibliosoph-checkbox-label {
	display: inline-block; 
	vertical-align: middle; 
	width: 100; 
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 2px;
	margin-right: 8px;
	text-align :left;
}
/* Image Selector */
.bibliosoph-option-image-container {
	border: 0px;
}
.bibliosoph-option-image {
	margin-top: 0px;
	margin-bottom: 4px;
	margin-right: 4px;
	margin-left: 0px;
	width: 50px;
	border-radius: 6px;
	border-width: 2px;
	cursor: pointer;
}

#cards-user-cardsdark.bibliosoph-option-div-selected img{
	border-width: 1px;
	border-style: solid;
}


/* ----- TOOLTIPS ----- */

/* Tooltip Container */
.tooltip-container
{
    text-align:center;
	padding-top: 10px;
	padding-bottom:0px;
	padding-left: 2px;
	padding-right: 0px;
}
/* Tooltip Label */
.tooltip-item {
  	position: relative;
	display:inline;
    font-weight:100;
    font-size: 0.8em;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom:0px;
	padding-left: 0px;
	padding-right: 0px;
}

.tooltip-label {
	position: relative;
	display:inline;
	font-weight:100;
	font-size: 0.8em;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 5px;
}

/* Tooltip Divider */
.tooltip-divider {
  	position: relative;
	display:inline;
    font-weight:100;
    font-size: 0.8em;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 5px;
}


/* Tooltip text */
.tooltiptext {
	visibility: hidden;
    font-weight:100;
    font-size: 1.0em;
	text-align: left;
    margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px;
  	/* Position the tooltip text */
  	position: absolute;
  	z-index: 10;
}
.tooltip-item:hover {
	cursor: context-menu;
}

/* Show the tooltip text when you mouse over the tooltip container 
.tooltip-item:hover .tooltiptext {
  visibility: visible;
}
*/

.tooltip-item:hover .tooltiptext {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.75s linear;
  }
  
  .tooltip-item:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
	transition-delay: 0.75s;
  }


.tooltip-item .tooltiptext {
  width: 250px;
  bottom: 100%;
  left: 50%;
  margin-left: -125px; /* Use half of the width  (120/2 = 60), to center the tooltip */
}

.tooltip-item .tooltiptext::after {
  border-color: #3b3b3b transparent transparent transparent;
}



/* ------------------------------------ */
/* -- TOOLBARS               ---------- */
/* ------------------------------------ */

/* WRAPPER */
#blacksmith-toolbar-wrapper {
	border-radius: 5px;
	position: fixed; 
	display: flex; 
	/* flex-wrap: nowrap; */
    flex-wrap: wrap; /* Allows the container to adapt to content size */
	flex-direction: column; /* row | column */
	border: 0px solid var(--color-border-dark);
}
/* GRIP */
#blacksmith-toolbar-grip  {
	display: flex; 
	height: 24px;
	transform: translate( -8%, 0%);/* row: -60%, 60% | column: -8%, 0% */
	place-content: center;
	cursor: move;
	border: 0px solid var(--color-border-dark);
}
#blacksmith-toolbar-grip .blacksmith-toolbar-grip-icon {
	transform: rotate(90deg);/* 0deg | 90deg */

	opacity: 0.6;
    color: rgba(200, 200, 200, 0.9);
	text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.3),
    1px -1px 0 rgba(0, 0, 0, 0.3),
    -1px 1px 0 rgba(0, 0, 0, 0.3),
    1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 14px;
}
/* BUTTON BAR */
#blacksmith-button-wrapper-bar {
   	display: flex; 
	flex-wrap: nowrap;
	flex-direction: column; /* row | column */
	border: 0px solid var(--color-border-dark);
	margin: 0;
	padding: 0;
	list-style: none;
	background: none;
	box-shadow: none;
	pointer-events: none;
}
/* BUTTON SPACER */

#blacksmith-button-wrapper-bar .blacksmith-spacer{
	width: 18px;
	height: 18px;
	min-height: 18px;
	min-width: 18px;
	box-sizing: border-box;
	transform: rotate(90deg);/* 0deg | 90deg */
	text-align: center;
	border: 0px solid var(--color-border-dark);
	background: none;
	place-content: center;
	flex: 0;
	flex-wrap: nowrap;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	display: inline-grid;
  	place-content: center;

} 
#blacksmith-button-wrapper-bar .blacksmith-spacer i {
	opacity: 0.6;
    color: rgba(200, 200, 200, 0.9);
	text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.3),
    1px -1px 0 rgba(0, 0, 0, 0.3),
    -1px 1px 0 rgba(0, 0, 0, 0.3),
    1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 10px;
	
}

/* BUTTON IMAGE */
#blacksmith-button-wrapper-bar .blacksmith-button-image {
	width: auto;
	height: auto;

	border-radius: 4px;
	border: 0px solid var(--color-border-dark);
}
#blacksmith-button-wrapper-bar .blacksmith-button-image:hover {
	transition: .2s ease;
  	opacity: .7;
}
/* BUTTON FAS ICON */

#blacksmith-button-wrapper-bar i {

	color: #000000;
	border: 0px solid var(--color-border-dark);
	text-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0.08),
    1px -1px 0 rgba(255, 255, 255, 0.08),
    -1px 1px 0 rgba(255, 255, 255, 0.08),
    1px 1px 0 rgba(255, 255, 255, 0.08);
} 


/* BUTTONS - GLOBAL STYLES */
#blacksmith-button-wrapper-bar .blacksmith-button-4x4,
#blacksmith-button-wrapper-bar .blacksmith-button-2x2,
#blacksmith-button-wrapper-bar .blacksmith-button-1x1 {
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px var(--color-shadow-dark);
	color: var(--color-text-light-heading);
	text-align: center;
	border: 1px solid var(--color-border-dark);
	border-radius: 5px;
	cursor: pointer;
	pointer-events: all;
	place-content: center;
	flex: 0;
	flex-wrap: nowrap;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-grid;
  	place-content: center;
	padding: 1px;
}

#blacksmith-button-wrapper-bar i {
    color: var(--color-text-light-heading);
	
}

#blacksmith-button-wrapper-bar .blacksmith-button-4x4:hover,
#blacksmith-button-wrapper-bar .blacksmith-button-2x2:hover,
#blacksmith-button-wrapper-bar .blacksmith-button-1x1:hover {
	color: var(--color-text-light-highlight);
	border: 1px solid var(--color-border-highlight-alt);
	border-bottom: 1px solid var(--color-border-highlight);
	box-shadow: 0 0 10px var(--color-shadow-highlight);
}



/* BUTTON - 1x1 */
#blacksmith-button-wrapper-bar .blacksmith-button-1x1 {
	width: 38px;
	height: 38px;
	min-height: 38px;
	min-width: 38px;
	font-size: 23px;
	line-height: 38px;
}
/* BUTTON - 2x2 */
#blacksmith-button-wrapper-bar .blacksmith-button-2x2 {
	width: 72px;
	height: 72px;
	min-height: 72px;
	min-width: 72px;
	font-size: 48px;
	line-height: 72px;
}
/* BUTTON - 4x4 */
#blacksmith-button-wrapper-bar .blacksmith-button-4x4 {
	width: 144px;
	height: 144px;
	min-height: 144px;
	min-width: 144px;
	font-size: 96px;
	line-height: 144px;
}


















/* Workspace Images */
.workspace-section-image-container {
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1)!important;
    border: 8px solid #ffffff !important;
    border-radius: 6px;
	margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}
.workspace-section-image-container {
    background-color: #ffffff;
}

.workspace-section-image {
	border-radius: 6px;
	width: 100%;
	border: 1px solid #a4a4a4;
}

.workspace-section-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.workspace-section-image-caption h6 {
    font-weight: 600;
    font-size: 0.9em;
    color: #5f5f5f;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 0px;
	margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 0px;
	text-align: center;
    border-top: 0px dotted #a4a4a4;
}

/* Toolbar Divider */
.blacksmith-workspace-toolbar-divider {
    background-color: transparent;
	border-top: 0px dotted #444444;
	border-bottom: 0px solid #444444;
	border-left: 1px dotted #444444;
	border-right: 0px solid #444444;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 12px;
	margin-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;

}









