.journal-page-pins-bar {
    display: flex;
    align-items: center;
    min-height: 1.5rem;
    padding: 0 16px 8px 14px;
    font-size: 1.0em;
    
}

.journal-page-pins-bar-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 6px;
    padding: 2px 0px;
    background: var(--dnd5e-journal-header-background);
    border-radius: 3px;
    font-family: var(--font-primary); 
}

.journal-page-pins-bar-left.toolbar-left,
.journal-page-pins-bar-right.toolbar-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 2px 6px 2px 6px;
}

.journal-page-pins-icon-options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 2px;
}





.journal-page-pin-icon-option {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
    padding: 0;
    background: rgba(0, 0, 0, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.0);
    border-radius: 4px;
    color: var(--color-text-light-heading);
    cursor: pointer;
}

.journal-page-pin-icon-option i {
    font-size: 0.95rem;
}

.journal-page-pin-icon-option.selected:hover,
.journal-page-pin-icon-option:hover {
  background-color: rgba(247, 133, 2, 0.9);
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 1.8px rgba(171, 153, 60, 0.2);
}

.journal-page-pin-icon-option.selected {
    background: rgba(185, 84, 61, 0.6);
    border-color: rgba(185, 84, 61, 1);
    color: var(--color-text-light-primary);
}

.journal-page-pins-bar .journal-page-pin-button {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: var(--color-text-light-heading);
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    text-decoration: none;
}
.journal-page-pins-bar .journal-page-pin-button i {
    margin-right: 3px;
}
.journal-page-pins-bar .journal-page-pin-button:hover {
  background-color: rgba(247, 133, 2, 0.9);
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 1.8px rgba(171, 153, 60, 0.2);
}

@media (max-width: 900px) {
    .journal-page-pins-bar-left.toolbar-left {
        width: 100%;
    }
}
