/* Latency Display */


.player-name {
    position: relative;  /* Ensure absolute positioning of latency works */
}

.player-latency {
    position: absolute;
    right: 0px;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.85;
    font-family: "Signika", sans-serif;
    display: inline-block;
    vertical-align: middle;
    background: rgba(0, 0, 0, 1);
    padding: 0px 3px 0px 3px;
    border-radius: 4px;
    height: auto;
    word-spacing: -0.5px;
}

#players-active ol.players-list li.player .player-name {
    display: flex !important;
    align-items: center;
    flex-wrap: nowrap;

}

.player-name-wrapper {
    flex: 1;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Latency color indicators */
.player-latency.good {
    color: #45d645;  /* Lighter green */
    text-shadow: 0 0 8px #45d645;
}

.player-latency.medium {
    color: #9b9b0f;  /* Lighter yellow */
    text-shadow: 0 0 8px #d6d645;
}

.player-latency.poor {
    color: #b41111;  /* Lighter red */
    text-shadow: 0 0 8px #d64545;
} 
