
/* ------------------------------------ */
/* --- Link Blocks ------------------ */
/* ------------------------------------ */

:root {
    /* These are defaults... will get overriden by what is in settings */
    --a-content-link-color: #191814;
    --a-content-link-background: #dddddd;
    --a-content-link-border: #4b4a45;
    --a-content-link-hover-background: #dddddd;
    --a-content-link-hover-border: #4b4a45;
    --a-content-link-box-shadow-color: #4f4a4a;
    --a-content-link-box-shadow-border: 0px;
    --a-content-link-i-color: #7a7972;
    --a-content-link-border-radius: 0px;
    --a-content-link-text-transform: none;
 }

.message-content a.content-link,
.message-content a.inline-roll {
	font-weight:400;
    font-size: 0.95em;
	text-transform: var(--a-content-link-text-transform);
    padding: 2px 6px 1px 4px;
	margin: 1px 4px 1px 0px;
    border-radius: var(--a-content-link-border-radius);
    white-space: nowrap;
    word-break: break-all;
	display: inline-block;
}

.message-content a.content-link i, 
.message-content a.inline-roll i {
	font-weight:600;
    font-size: 0.95em;
	margin-right: 5px;
}
/* COLORS */
.message-content a.content-link, 
.message-content a.inline-roll {
    color: var(--a-content-link-color);
    background: var(--a-content-link-background);
    border: 1px solid var(--a-content-link-border);
	box-shadow: 0 0 var(--a-content-link-box-shadow-border) var(--a-content-link-box-shadow-color);
}
.message-content a.content-link:hover, 
.message-content a.inline-roll:hover {
    background: var(--a-content-link-hover-background);
    border: 1px solid var(--a-content-link-hover-border);
    text-shadow: 0 0 var(--a-content-link-box-shadow-border) var(--a-content-link-box-shadow-color);
}
.message-content a.content-link i, 
.message-content a.inline-roll i {
    color: var(--a-content-link-i-color);
}

.message-content a.inline-roll > i.fa-dice-d20 {
    background: none !important;
    -webkit-mask: url("/icons/svg/d20-black.svg") no-repeat center / contain;
    mask: url("/icons/svg/d20-black.svg") no-repeat center / contain;
    background-color: var(--a-content-link-i-color) !important; /* this is the icon color */
  }

/* Do not override journals for now */
/* journal-entry-content */
/* 
.journal-page-content a.content-link, .journal-page-content a.inline-roll {
	font-weight:revert;
    font-size: revert;
	text-transform: revert;
    padding: revert;
	margin: revert;
    border-radius: revert;
    white-space: revert;
    word-break: revert;
	display: revert;
}

.journal-page-content a.content-link i, .journal-page-content a.inline-roll i {
	font-weight: revert;
    font-size: revert;
	margin-right: revert;
}
*/
/* COLORS */
/* 
.journal-page-content a.content-link, .journal-page-content a.inline-roll {
    color: revert;
    background: revert;
    border: revert;
	box-shadow: revert;
}
.journal-page-content a.content-link:hover, .journal-page-content a.inline-roll:hover {
    background: revert;
    border: revert;
    text-shadow: revert;
}
.journal-page-content a.content-link i, .journal-page-content a.inline-roll i {
    color: revert;
}

 */

