/* ------------------------------------ */
/* --- BLACKSMITH MENUBAR ---------- */
/* ------------------------------------ */

/* MENUBAR */

:root {
    --blacksmith-menubar-primary-height: 26px;
    --blacksmith-menubar-secondary-height: 0px;
    --blacksmith-menubar-total-height: calc(var(--blacksmith-menubar-primary-height) + var(--blacksmith-menubar-secondary-height));
    --blacksmith-menubar-zone-height: calc(var(--blacksmith-menubar-primary-height) - 2px);
    --blacksmith-menubar-interface-offset: calc(var(--blacksmith-menubar-total-height) + 2px);
    --blacksmith-menubar-divider-height: calc(var(--blacksmith-menubar-primary-height) - 12px);
    --blacksmith-menubar-backgroundcolor-divider: rgba(255, 255, 255, 0.1);
    --blacksmith-menubar-backgroundcolor-endzones: rgba(48, 24, 29, 0.8);
    --blacksmith-menubar-border-endzones: 3px solid rgba(0, 0, 0, 0.2);
    --blacksmith-menubar-gap-endzones: 12px;
    --blacksmith-menubar-backgroundcolor-middle: rgba(255, 255, 255, 0.2);
    --blacksmith-menubar-gap-middle: 4px;
    --blacksmith-menubar-fontsize: .9em;
    --blacksmith-menubar-iconsize: .85em;
    --blacksmith-menubar-fontcolor: rgba(240, 240, 224, 0.9);
    /* SECONDARY BAR VARIABLES */
    --blacksmith-menubar-secondary-default-height: 0px;
    --blacksmith-menubar-secondary-combat-height: 60px;
 }

/* Push main interface down to account for fixed menubar */
#interface {
    margin-top: var(--blacksmith-menubar-interface-offset);
}

/* Secondary bar height adjustment */
.blacksmith-menubar-container.has-secondary {
    --blacksmith-menubar-height: calc(var(--blacksmith-menubar-primary-height) + var(--blacksmith-menubar-secondary-height));
}

.blacksmith-menubar-container {
  position: fixed;
  top: 0;
  left: 4px;
  right: 4px;
  z-index: 100;
  background-color: transparent;
  width: calc(100% - 8px);
  min-height: var(--blacksmith-menubar-primary-height);
  max-height: var(--blacksmith-menubar-primary-height);
  display: flex;
  align-items: center;
  justify-content: flex-start;                /* was space-between */
  border: 1px solid rgba(17,17,17,0.8);
  border-top: 1px solid rgba(17,17,17,0.4);
  border-radius: 0 0 6px 6px;
  box-shadow: 0 0 20px 4px var(--color-shadow-dark);
  font-size: var(--blacksmith-menubar-fontsize);
  color: var(--blacksmith-menubar-fontcolor);
}
.blacksmith-menubar-container i {
  color: var(--blacksmith-menubar-fontcolor);
  font-size: var(--blacksmith-menubar-iconsize);
  padding: 1px 0 0 0;
}

/* Left / Right stay size-to-content */
.blacksmith-menubar-left,
.blacksmith-menubar-right {
  background-color: var(--blacksmith-menubar-backgroundcolor-endzones);
  height: var(--blacksmith-menubar-zone-height);
  display: flex;
  align-items: center;
  gap: var(--blacksmith-menubar-gap-endzones);
  flex: 0 0 auto; /* do not grow */
}

.blacksmith-menubar-left {
  justify-content: flex-start;
  padding: 0 8px;
  border-right: var(--blacksmith-menubar-border-endzones);
}
.blacksmith-menubar-right {
  justify-content: flex-end;
  padding: 0 12px;
  border-left: var(--blacksmith-menubar-border-endzones);
}

/* Middle fills everything between left and right */
.blacksmith-menubar-middle {
    background-color: var(--blacksmith-menubar-backgroundcolor-middle);
    height: var(--blacksmith-menubar-zone-height);
    display: flex;
    align-items: center;
    justify-content: flex-start; /* keep contents left */
    gap: var(--blacksmith-menubar-gap-middle, 8px);
    padding: 0px 8px 0px 8px;
    flex: 1 1 auto; /* << fill remaining width */
    min-width: 0; /* << allow children to shrink */
    overflow: hidden; /* clip overrun */
  }

/* Dividers */
.menu-divider {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    height: var(--blacksmith-menubar-divider-height);  
    margin: 0px 4px 0px 4px;
    box-shadow: 0 0 2px 0px var(--color-shadow-dark);
}
.menu-divider.line {
    border-left: 1px solid var(--blacksmith-menubar-backgroundcolor-divider);
}
.menu-divider.dotted {
    border-left: 1px solid var(--blacksmith-menubar-backgroundcolor-divider);
}
.menu-divider.double {
    border-left: 4px double var(--blacksmith-menubar-backgroundcolor-divider);
}
.menu-divider.groove {
    border-left: 3px groove var(--blacksmith-menubar-backgroundcolor-divider);
}
.menu-divider.ridge {
    border-left: 3px ridge var(--blacksmith-menubar-backgroundcolor-divider);
}


/* ------------------------------------ */

/* LEFT BUTTONS */

/* Base styles for all tools */
.blacksmith-menubar-left .button-active, 
.blacksmith-menubar-left .tool-readonly {
    cursor: default;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding:  2px 0px 1px 0px;
    position: relative;
    background: transparent;
    background-clip: padding-box;
    white-space: nowrap;
    text-transform: inherit;
}
.blacksmith-menubar-left .button-active i, 
.blacksmith-menubar-left .tool-readonly i {
    border: 0px solid rgba(0, 0, 0, 0.1);
    margin: 0px 0px 0px 0px;
}
.blacksmith-menubar-left .button-active span, 
.blacksmith-menubar-left .tool-readonly span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blacksmith-menubar-left .button-active:hover,
.blacksmith-menubar-left .button-active:hover i,
.blacksmith-menubar-left .button-active:hover span {
    color: rgba(255, 100, 0, 0.9);
    cursor: pointer;
}

/* MIDDLE BUTTONS */

/* Base styles for all tools */
.blacksmith-menubar-middle .button-active, 
.blacksmith-menubar-middle .tool-readonly {
    cursor: default;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding:  2px 8px 2px 8px;
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    white-space: nowrap;
}
.blacksmith-menubar-middle .button-active i, 
.blacksmith-menubar-middle .tool-readonly i {
    color: rgba(240, 240, 224, 0.9);
    margin: 0px 4px 0px 0px;
}

.blacksmith-menubar-middle .button-active span, 
.blacksmith-menubar-middle .tool-readonly span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blacksmith-menubar-middle .button-active:hover,
.blacksmith-menubar-middle .button-active:hover i,
.blacksmith-menubar-middle .button-active:hover span {
    color: rgba(255, 100, 0, 0.9);
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8);
}

/* RIGHT BUTTONS */

/* Base styles for all tools */
.blacksmith-menubar-right .button-active, 
.blacksmith-menubar-right .tool-readonly {
    cursor: default;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding:  2px 0px 1px 0px;
    position: relative;
    background: transparent;
    background-clip: padding-box;
    white-space: nowrap;
    text-transform: inherit;
}
.blacksmith-menubar-right .button-active i, 
.blacksmith-menubar-right .tool-readonly i {
    border: 0px solid rgba(0, 0, 0, 0.1);
    margin: 0px 4px 0px 0px;
}
.blacksmith-menubar-right .button-active span, 
.blacksmith-menubar-right .tool-readonly span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Hover states for active tools */
.blacksmith-menubar-right .button-active:hover,
.blacksmith-menubar-right .button-active:hover i,
.blacksmith-menubar-right .button-active:hover span {
    color: rgba(255, 100, 0, 0.9);
    cursor: pointer;
}

/* Notifications */

/* Notifications strip grows to use leftover middle space */
.menu-notifications {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1 1 auto; /* << take remainder of middle */
  min-width: 0; /* << critical for ellipsis */
  flex-wrap: nowrap;                             
  overflow: hidden; /* hide extra if too many */
}

/* One notification item (no stretching) */
.menu-notification-item {
  display: flex;
  align-items: center;
  gap: 4px;
  flex: 0 1 auto; /* don't grow across strip */
  min-width: 0; /* allow inner text to shrink */
  white-space: nowrap;
}
.menu-notifications i {
    flex: 0 0 auto;   /* icon keeps its own width */
}
.notification-content {
  flex: 1 1 auto; /* take remaining width in item */
  min-width: 0; /* << enables truncation in flex */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Close Button */
.notification-close {
    background: none;
    border: none;
    color: rgba(240, 240, 224, 0.7);
    cursor: pointer;
    padding: 0;
    width: var(--blacksmith-menubar-iconsize);     
    height: var(--blacksmith-menubar-iconsize);   
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;   /* button keeps its own width */
}
.notification-close:hover {
    color: rgba(255, 100, 0, 0.9);
    background: rgba(0, 0, 0, 0.01);
    border: none;
    outline: none;
    box-shadow: none;
}

/* ------------------------------------ */

/* TIMERS TEMPORARILY IN THE CSS CLIENT */
/* TIMER SECTION */
.timer-section {
    --pad-x: 8px;
    --pad-y: 2px;
    position: relative;
    display: flex; /* align icon + text in a row */
    align-items: center; /* vertical centering */
    justify-content: center; /* horizontal centering as a group */
    gap: 4px; /* space between icon and text */
    min-width:90px;
    padding: var(--pad-y) var(--pad-x);
    border-radius: 4px;
  }
  
.timer-section::before {
    content: "";
    position: absolute;
    inset: 0; /* full background */
    border-radius: 4px;
    z-index: -1;
    background: linear-gradient(
        90deg,
        var(--progress-color, rgba(38, 167, 12, 0.2)) var(--progress),
        var(--background-color, rgba(255, 255, 255, 0.8)) var(--progress)
    );
    pointer-events: none;
}
  
/* Timer States - Default */
.timer-section.default{
    --progress-color: rgba(5, 255, 5, 0.7);
    --background-color: rgba(255, 255, 255, 0.4);
}
/* Timer States - Expired */
.timer-section.expired {
    --progress-color: rgba(243, 0, 0, 0.9);
    --background-color: rgba(243, 0, 0, 0.9);
}

.timer-section.warning {
    --progress-color: rgba(243, 0, 0, 0.9);
    --background-color: rgba(255, 255, 255, 0.4);
}

.timer-section.warning .session-timer {
    animation: textPulse 1.6s ease-in-out infinite;
    --progress-color: rgba(255, 255, 8, 0.9);
    --background-color: rgba(243, 243, 0, 0.9);
}
   
@keyframes textPulse {
    0%, 100% {
    color: rgba(255, 255, 255, 0.6);   /* dim */
    text-shadow: 0 0 2px rgba(255, 255, 8, 0.4);
    }
    50% {
    color: rgba(243, 0, 0, 1);     /* bright */
    text-shadow: 0 0 2px rgba(255, 255, 8, 0.9);
    }
}
 

/* ------------------------------------ */

/* CHAT: Timer warning and expired messages */

.chat-message.timer-warning,
.chat-message.timer-expired {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.chat-message.timer-warning {
    background: rgba(255, 165, 0, 0.1);
    border: 1px solid orange;
}

.chat-message.timer-expired {
    background: rgba(255, 0, 0, 0.1);
    border: 1px solid red;
}

.chat-message.timer-warning p,
.chat-message.timer-expired p {
    margin: 0;
    color: #461313;
}


/* ------------------------------------ */


/* WINDOW: Vote Config Styles */

.vote-config .vote-config-content {
    padding: 10px;
}

.vote-config h2 {
    color: #eeeeed;
    font-size: 1.2em;
    margin-bottom: 10px;
    border-bottom: 1px solid #666;
    padding-bottom: 5px;
}

.vote-config .vote-types {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vote-config .vote-type {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #666;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.vote-config .vote-type:hover {
    background: rgba(0, 0, 0, 0.2);
    border-color: hsl(27, 99%, 38%);
}

.vote-config .vote-type i {
    font-size: 1.5em;
    color: #eeeeed;
}

.vote-config .vote-info h3 {
    color: #eeeeed;
    font-size: 1.1em;
    margin: 0 0 5px 0;
}

.vote-config .vote-info p {
    color: #c1c1c1;
    font-size: 0.9em;
    margin: 0;
}

/* ------------------------------------------------------ */
/* --- SECONDARY MENUBAR - WRAPSS ALL BARS -------------- */
/* ------------------------------------------------------ */


.blacksmith-menubar-secondary {
    --menubar-secondary-text-font-size: calc(var(--blacksmith-menubar-secondary-height) * 0.15);
    --menubar-secondary-subtext-font-size: calc(var(--blacksmith-menubar-secondary-height) * 0.10);
    --blacksmith-menubar-secondary-backgroundcolor: rgba(50, 26, 31, 0.6);
}

.blacksmith-menubar-secondary {
    position: fixed;
    top: var(--blacksmith-menubar-primary-height);
    left: 4px;
    right: 4px;
    z-index: 99;
    background-color: var(--blacksmith-menubar-secondary-backgroundcolor);
    height: var(--blacksmith-menubar-secondary-height);
    border: 1px solid rgba(17, 17, 17, 0.8);
    border-top: none;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 0 20px 4px var(--color-shadow-dark);
    display: flex;
    align-items: center;
    padding: 0;
    overflow: hidden;
    font-size: var(--menubar-secondary-text-font-size);
}


/* ---------------------------------------------------- */
/* --- SECONDARY MENUBAR: COMBAT TRACKER -------------- */
/* ---------------------------------------------------- */

    
/* =========================
Combat Tracker Tunables
========================= */
.blacksmith-menubar-secondary {
    /* Scale everything based on bar height */
    --portrait-container-height: calc(var(--blacksmith-menubar-secondary-height) - 4px);
    --portrait-container-width: calc(var(--blacksmith-menubar-secondary-height) + 4px);
    --healthbar-size: calc(var(--portrait-container-height) - 8px);
    --portrait-size: calc(var(--healthbar-size) - 10px);
    --action-icon-size: calc(var(--healthbar-size) - 10px);
    --action-icon-font-size: calc(var(--healthbar-size) * 0.4);
    
    --combatbar-button-ends-height: calc(var(--blacksmith-menubar-secondary-height) * 0.6);
    --combatbar-button-ends-width: calc(var(--blacksmith-menubar-secondary-height) * 0.6);  
    
    --combatbar-endcaps-minwidth: 10%;
    
    /* Thickness of the SVG stroke */
    --ring-thickness: 3px;
    --gap: 1px;
    --combatbar-button-font-size: calc(var(--blacksmith-menubar-secondary-height) * 0.25);
    --combatbar-text-font-size: calc(var(--blacksmith-menubar-secondary-height) * 0.25);
    --combatbar-subtext-font-size: calc(var(--blacksmith-menubar-secondary-height) * 0.25);
}


/* Combat Tracker Specific Styles */
.blacksmith-menubar-secondary[data-bar-type="combat"] {
    background-color: var(--blacksmith-menubar-secondary-backgroundcolor);
}

.blacksmith-menubar-secondary .combat-tracker-bar {
    display: flex;
    align-items: center;
    gap: 0px;
    width: 100%;
    height: 100%;

}

.blacksmith-menubar-secondary .combat-info {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centers items vertically */
  align-items: flex-start;
  gap: 2px;
  min-width: var(--combatbar-endcaps-minwidth);
  height: 100%;
  font-size: var(--combatbar-text-font-size);
  color: var(--blacksmith-menubar-fontcolor);
  padding: 0px 8px;
  background-color: rgba(73, 82, 50, 0.9);
  border-right: 4px solid rgba(17, 17, 17, 0.3);
}

.blacksmith-menubar-secondary .combat-round {
    font-weight: 900;
    text-transform: uppercase;
    font-size: calc(var(--combatbar-text-font-size) * 1.1);
}

.blacksmith-menubar-secondary .combat-turn {
    opacity: 0.8;
    font-size: calc(var(--combatbar-text-font-size) * 0.9);
}

.blacksmith-menubar-secondary .combat-status {
  display: flex;
  flex-direction: column;
  justify-content: center;   /* centers items vertically */
  align-items: flex-end;   /* keep them left-aligned horizontally */
  gap: 2px;
  min-width: var(--combatbar-endcaps-minwidth);
  height: 100%;
  font-size: var(--combatbar-text-font-size);
  color: var(--blacksmith-menubar-fontcolor);
  padding: 0px 8px;
  background-color: rgba(73, 82, 50, 0.9);
  border-left: 4px solid rgba(17, 17, 17, 0.3);
}

/* COMBAT PORTRAITS */

  /* =========================
     Container
     ========================= */
   .blacksmith-menubar-secondary .combat-portraits-group {
    display: flex;
    gap: var(--gap);
    flex: 1;
    justify-content: center;
    align-items: center;
   }
   
   .blacksmith-menubar-secondary .combat-portraits {
    display: flex;
    gap: var(--gap);
    justify-content: center;   /* center the row in the bar */
    align-items: center;
    overflow-x: auto;
    padding: 0;
   }
  
  /* =========================
     Portrait Container
     ========================= */
     .blacksmith-menubar-secondary .combat-portrait-container {
        position: relative;
        width: var(--portrait-container-width);
        height: var(--portrait-container-height);
        flex-shrink: 0;
        cursor: pointer;
        transition: transform .10s ease, box-shadow .15s ease, border-color .10s ease;
        border: 2px solid rgba(0, 0, 0, 0.0);
        background: rgba(0, 0, 0, 0.3);
        border-radius: 3px;
      }
  
  /* =========================
     Portrait Image
     ========================= */
  .blacksmith-menubar-secondary .combat-portrait-image,
  .blacksmith-menubar-secondary .combat-portrait-healthring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  .blacksmith-menubar-secondary .combat-portrait-healthring {
    width: var(--healthbar-size);
    height: var(--healthbar-size);
    
  }
  
  .blacksmith-menubar-secondary .combat-portrait-image {
    overflow: hidden;
    z-index: 1;
    border: none;
    width: var(--portrait-size);
    height: var(--portrait-size);
    background: rgba(0, 0, 0, 0.75);
  }
  
  .blacksmith-menubar-secondary .combat-portrait-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    -webkit-user-drag: none;
    user-select: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
  }
  
  
/* =========================
    States
    ========================= */
.blacksmith-menubar-secondary .combat-portrait-container:hover {
    transform: scale(1.0);
    border-color: rgba(223, 98, 20, 0.9);
    background: rgba(223, 98, 20, 0.2);
}
    
.blacksmith-menubar-secondary .combat-portrait-container.current {
    border-color: rgba(223, 98, 24, 0.1);
    background: rgba(153, 106, 38, 0.7);
}
    
    .blacksmith-menubar-secondary .combat-portrait-container.defeated {
    opacity: .9;
    background: rgba(53, 28, 32, 0.7);
    }
  
  /* =========================
     Health Ring
     ========================= */
  .blacksmith-menubar-secondary .combat-portrait-healthring {
    /* no debug border in production; uncomment if needed */
    /* border: 0px solid #ffffff; */
    pointer-events: none;
    z-index: 2;
  }
  
  .blacksmith-menubar-secondary .combat-portrait-healthring svg {
    /* Match the wrapper size exactly */
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .blacksmith-menubar-secondary .combat-portrait-healthring circle {
    fill: none;
    stroke-linecap: round;
    stroke-width: var(--ring-thickness);
    filter: drop-shadow(0 0 1px rgba(0,0,0,.6));
    shape-rendering: geometricPrecision;
  }
  
  /* Health Ring Colors (match your tracker states) */
  .blacksmith-menubar-secondary .combat-portrait-ring-healthy   circle { 
      stroke: #44b428; 
  }
  .blacksmith-menubar-secondary .combat-portrait-ring-injured   circle { 
      stroke: #c09e16; 
  }
  .blacksmith-menubar-secondary .combat-portrait-ring-bloodied  circle { 
      stroke: #c06312; 
  }
  .blacksmith-menubar-secondary .combat-portrait-ring-critical  circle { 
      stroke: #a11c1b; 
  }
  
  /* Dead pulsing */
  @keyframes blacksmith-pulse-dead {
    0%   { stroke: #a11c1b; filter: drop-shadow(0 0 1px #a11c1b); }
    50%  { stroke: #d81010; filter: drop-shadow(0 0 2px #d81010); }
    100% { stroke: #a11c1b; filter: drop-shadow(0 0 1px #a11c1b); }
  }
   .blacksmith-menubar-secondary .combat-portrait-ring-dead circle {
     animation: blacksmith-pulse-dead 2s ease-in-out infinite;
}

 
/* =========================
Control Buttons
========================= */
.blacksmith-menubar-secondary .combatbar-button-control-container {

    display: flex;
    flex-direction: row;
    justify-content: center; /* centers items vertically */
    align-items: flex-start;
    gap: 2px;

    height: 100%;
    font-size: var(--combatbar-text-font-size);
    color: var(--blacksmith-menubar-fontcolor);
    padding: 0 calc(var(--blacksmith-menubar-secondary-height) * 0.09);
    border-right: 0px solid rgba(17, 17, 17, 0.3);

}

.blacksmith-menubar-secondary .combatbar-button-disabled,
.blacksmith-menubar-secondary .combatbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-width: var(--combatbar-button-ends-width);
    height: var(--combatbar-button-ends-height);
    border-radius: 6px;
    padding: 0px 8px 0px 8px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease;
    font-size: var(--combatbar-button-font-size);
}
.blacksmith-menubar-secondary .combatbar-button {
    background: rgba(19, 19, 19, 0.6);
    border: 1px solid rgba(19, 19, 19, 0.9);
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
.blacksmith-menubar-secondary .combatbar-button-disabled {
    background: rgba(19, 19, 19, 0.6);
    border: 1px solid rgba(19, 19, 19, 0.9);
    color: rgba(255, 255, 255, 0.4);
    cursor: arrow;
    opacity: 60%;
}
.blacksmith-menubar-secondary .combatbar-button-disabled i,
.blacksmith-menubar-secondary .combatbar-button i {
    padding: 2px 0px 0px 0px;
}
.blacksmith-menubar-secondary .combatbar-button .combatbar-button-label {
    padding: 0px 0px 0px 8px;
}

.blacksmith-menubar-secondary .action-button .action-type-begin {
    background: rgba(27, 63, 31, 0.9);
    border: 1px solid rgba(68, 180, 40, 0.6);
}
.blacksmith-menubar-secondary .action-button .action-type-end{
    background: rgba(143, 7, 9, 0.9);
    border: 1px solid rgba(181, 8, 11, 0.6);
}
.blacksmith-menubar-secondary .action-button .action-type-roll{
    background: rgba(43, 69, 110, 0.9);
    border: 1px solid rgba(89, 161, 246, 0.6);
}

.blacksmith-menubar-secondary .combatbar-button:hover {
    background: rgba(38, 19, 23, 0.8);
    border-color: rgba(223, 98, 20, 0.8);
    color: rgba(223, 98, 20, 1.0);
    transform: scale(1.05);
}

.blacksmith-menubar-secondary .combatbar-button:active {
    transform: scale(0.95);
}

 
 /* =========================
     Initiative Dice Overlay
     ========================= */
        
     .blacksmith-menubar-secondary .combat-portrait-initiative-dice {
        width: var(--action-icon-size);
        height: var(--action-icon-size);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        pointer-events: auto;
        font-size: var(--action-icon-font-size);
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
        
    .blacksmith-menubar-secondary .combat-portrait-initiative-dice .waiting-initiative,
    .blacksmith-menubar-secondary .combat-portrait-initiative-dice a {
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
        transition: all 0.01s ease;
        text-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
        
    }
        
    .blacksmith-menubar-secondary .combat-portrait-initiative-dice a:hover {
        background: rgba(255, 215, 0, 0.2);
        border-color: rgba(255, 215, 0, 0.2);
        color: rgba(223, 98, 20, 0.9);
        text-shadow: none;
        cursor: pointer;
    }
        
    /* Waiting for initiative (non-clickable) */
    .blacksmith-menubar-secondary .combat-portrait-initiative-dice.waiting {
        pointer-events: none;
    }
    

 /* =========================
     Dead Overlay
     ========================= */
        
     .blacksmith-menubar-secondary .combat-portrait-dead-overlay {
        width: var(--action-icon-size);
        height: var(--action-icon-size);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        pointer-events: auto;
        font-size: var(--action-icon-font-size);
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
        
    .blacksmith-menubar-secondary .combat-portrait-dead-overlay {
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
        transition: all 0.01s ease;
        text-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
        
    }