
/* ------------------------------------ */
/* --- Link Blocks ------------------ */
/* ------------------------------------ */

/* ------------------------------------ */
/* --- Journal Improvements ----------- */
/* ------------------------------------ */

/* These are not in Settings yet */

/* Stonger Normal H2 */
.journal-page-content h2 {
    font-weight: 700;
    font-size: 1.9em;
}

/* Stonger Normal H4 */
.journal-page-content h4 {
    font-weight: 900;
    font-size: 1.25em;
}

/* Image */
section.journal-page-content img {
    border-radius: 4px;
}
