



/* ------------------------------------ */
/* --- Item Piles Loot (Macros) ------- */
/* ------------------------------------ */

/* --- LAYOUT --- */
.message-content blockquote.chatboxLoot {
    font-size: 1.5em;
	margin-top: calc(var(--intCardMarginTop) + var(--intOffsetMarginTop));
    margin-bottom: var(--intCardMarginBottom);
    margin-left: var(--intCardMarginLeft);
    margin-right: var(--intCardMarginRight);
    padding-top: 0px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.0em;
    font-style: normal;
    border-radius: 3px;
}
/* Narrative Title Fonts */
.message-content .blockquote.chatboxLoot h4, .chatboxLoot blockquote h5{
    text-transform: uppercase;

}
/* Narrative Title */
.message-content blockquote.chatboxLoot h4 {
    font-weight:550;
    font-size: 1.1em;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: -8px;
    margin-right: -8px;
	padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 6px;
	border-radius: 2px 2px 0px 0px;
}
/* Narrative Title Icon */
.message-content blockquote.chatboxLoot  h4::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    /* content: "\f02e"; /* Booknmark */
    content: "\f81c"; /* Masks */
    font-size: 1.1em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 6px;
}
/* Narrative Content */
.message-content blockquote p {
	display: block;
}


