/* ------------------------------------ */
/* --- SETTINGS  ---------------------- */
/* ------------------------------------ */

/* HEADINGS H1 - MAIN TITLE */

input[name*="coffee-pub-monarch.headingH1"],
input[name*="coffee-pub-squire.headingH1"],
input[name*="coffee-pub-blacksmith.headingH1"],
input[name*="coffee-pub-bubo.headingH1"],
input[name*="coffee-pub-crier.headingH1"],
input[name*="coffee-pub-scribe.headingH1"],
input[name*="coffee-pub-bibliosoph.headingH1"] {
	display: none;	
}
div[data-setting-id*="coffee-pub-monarch.headingH1"],
div[data-setting-id*="coffee-pub-squire.headingH1"],
div[data-setting-id*="coffee-pub-blacksmith.headingH1"],
div[data-setting-id*="coffee-pub-bubo.headingH1"],
div[data-setting-id*="coffee-pub-crier.headingH1"],
div[data-setting-id*="coffee-pub-scribe.headingH1"],
div[data-setting-id*="coffee-pub-bibliosoph.headingH1"] {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(52, 28, 32, 0.9);
    border-radius: 4px;	
}
div[data-setting-id*="coffee-pub-monarch.headingH1"] label,
div[data-setting-id*="coffee-pub-squire.headingH1"] label,
div[data-setting-id*="coffee-pub-blacksmith.headingH1"] label,
div[data-setting-id*="coffee-pub-bubo.headingH1"] label,
div[data-setting-id*="coffee-pub-crier.headingH1"] label,
div[data-setting-id*="coffee-pub-scribe.headingH1"] label,
div[data-setting-id*="coffee-pub-bibliosoph.headingH1"] label {
    color: rgba(227, 225, 216, 1.0);
    font-weight: 550;
    font-size: 1.4em;
    font-style: normal;
    text-transform: uppercase;
}
div[data-setting-id*="coffee-pub-monarch.headingH1"] i,
div[data-setting-id*="coffee-pub-squire.headingH1"] i,
div[data-setting-id*="coffee-pub-blacksmith.headingH1"] i,
div[data-setting-id*="coffee-pub-bubo.headingH1"] i,
div[data-setting-id*="coffee-pub-crier.headingH1"] i,
div[data-setting-id*="coffee-pub-scribe.headingH1"] i,
div[data-setting-id*="coffee-pub-bibliosoph.headingH1"] i {
	display: none;	
}
div[data-setting-id*="coffee-pub-monarch.headingH1"] .notes,
div[data-setting-id*="coffee-pub-squire.headingH1"] .notes,
div[data-setting-id*="coffee-pub-blacksmith.headingH1"] .notes,
div[data-setting-id*="coffee-pub-bubo.headingH1"] .notes,
div[data-setting-id*="coffee-pub-crier.headingH1"] .notes,
div[data-setting-id*="coffee-pub-scribe.headingH1"] .notes,
div[data-setting-id*="coffee-pub-bibliosoph.headingH1"] .notes {
    color: rgba(227, 225, 216, 1.0);
    font-weight:100;
    font-size: 1.0em;
    font-style: normal;
}

/* HEADINGS H2 */

input[name*="coffee-pub-monarch.headingH2"],
input[name*="coffee-pub-squire.headingH2"],
input[name*="coffee-pub-blacksmith.headingH2"],
input[name*="coffee-pub-bubo.headingH2"],
input[name*="coffee-pub-crier.headingH2"],
input[name*="coffee-pub-scribe.headingH2"],
input[name*="coffee-pub-bibliosoph.headingH2"] {
    display: none;	
}
div[data-setting-id*="coffee-pub-monarch.headingH2"],
div[data-setting-id*="coffee-pub-squire.headingH2"],
div[data-setting-id*="coffee-pub-blacksmith.headingH2"],
div[data-setting-id*="coffee-pub-bubo.headingH2"],
div[data-setting-id*="coffee-pub-crier.headingH2"],
div[data-setting-id*="coffee-pub-scribe.headingH2"],
div[data-setting-id*="coffee-pub-bibliosoph.headingH2"] {
    background-color: rgba(45, 63, 17, 0.2);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;	
}
div[data-setting-id*="coffee-pub-blacksmith.headingH2"] label,
div[data-setting-id*="coffee-pub-bubo.headingH2"] label,
div[data-setting-id*="coffee-pub-crier.headingH2"] label,
div[data-setting-id*="coffee-pub-scribe.headingH2"] label,
div[data-setting-id*="coffee-pub-bibliosoph.headingH2"] label {
    color: rgba(9, 12, 3, 1.0);
    font-weight:550;
    font-size: 1.3em;
    font-style: normal;
    text-transform: uppercase;
}
div[data-setting-id*="coffee-pub-monarch.headingH2"] i,
div[data-setting-id*="coffee-pub-squire.headingH2"] i,
div[data-setting-id*="coffee-pub-blacksmith.headingH2"] i,
div[data-setting-id*="coffee-pub-bubo.headingH2"] i,
div[data-setting-id*="coffee-pub-crier.headingH2"] i,
div[data-setting-id*="coffee-pub-scribe.headingH2"] i,
div[data-setting-id*="coffee-pub-bibliosoph.headingH2"] i {
	display: none;	
}
div[data-setting-id*="coffee-pub-monarch.headingH2"] .notes,
div[data-setting-id*="coffee-pub-squire.headingH2"] .notes,
div[data-setting-id*="coffee-pub-blacksmith.headingH2"] .notes,
div[data-setting-id*="coffee-pub-bubo.headingH2"] .notes,
div[data-setting-id*="coffee-pub-crier.headingH2"] .notes,
div[data-setting-id*="coffee-pub-scribe.headingH2"] .notes,
div[data-setting-id*="coffee-pub-bibliosoph.headingH2"] .notes {
	color: rgba(9, 12, 3, 1.0);
	font-weight:100;
    font-size: 1.0em;
    font-style: normal;
}

/* SUBHEADINGS H3 - NORMAL */

input[name*="coffee-pub-monarch.headingH3"],
input[name*="coffee-pub-squire.headingH3"],
input[name*="coffee-pub-blacksmith.headingH3"],
input[name*="coffee-pub-bubo.headingH3"],
input[name*="coffee-pub-crier.headingH3"],
input[name*="coffee-pub-scribe.headingH3"],
input[name*="coffee-pub-bibliosoph.headingH3"] {
	display: none;	
}
div[data-setting-id*="coffee-pub-monarch.headingH3"],
div[data-setting-id*="coffee-pub-squire.headingH3"],
div[data-setting-id*="coffee-pub-blacksmith.headingH3"],
div[data-setting-id*="coffee-pub-bubo.headingH3"],
div[data-setting-id*="coffee-pub-crier.headingH3"],
div[data-setting-id*="coffee-pub-scribe.headingH3"],
div[data-setting-id*="coffee-pub-bibliosoph.headingH3"] {
    background-color: rgba(9, 12, 3, 0.05);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;	
}
div[data-setting-id*="coffee-pub-monarch.headingH3"] label,
div[data-setting-id*="coffee-pub-squire.headingH3"] label,
div[data-setting-id*="coffee-pub-blacksmith.headingH3"] label,
div[data-setting-id*="coffee-pub-bubo.headingH3"] label,
div[data-setting-id*="coffee-pub-crier.headingH3"] label,
div[data-setting-id*="coffee-pub-scribe.headingH3"] label,
div[data-setting-id*="coffee-pub-bibliosoph.headingH3"] label {
    font-weight:550;
    font-size: 1.1em;
    font-style: normal;
    text-transform: uppercase;
}
div[data-setting-id*="coffee-pub-monarch.headingH3"] i,
div[data-setting-id*="coffee-pub-squire.headingH3"] i,
div[data-setting-id*="coffee-pub-blacksmith.headingH3"] i,
div[data-setting-id*="coffee-pub-bubo.headingH3"] i,
div[data-setting-id*="coffee-pub-crier.headingH3"] i,
div[data-setting-id*="coffee-pub-scribe.headingH3"] i,
div[data-setting-id*="coffee-pub-bibliosoph.headingH3"] i {
	display: none;	
}
div[data-setting-id*="coffee-pub-monarch.headingH3"] .notes,
div[data-setting-id*="coffee-pub-squire.headingH3"] .notes,
div[data-setting-id*="coffee-pub-blacksmith.headingH3"] .notes,
div[data-setting-id*="coffee-pub-bubo.headingH3"] .notes,
div[data-setting-id*="coffee-pub-crier.headingH3"] .notes,
div[data-setting-id*="coffee-pub-scribe.headingH3"] .notes,
div[data-setting-id*="coffee-pub-bibliosoph.headingH3"] .notes {
    font-weight:100;
    font-size: 1.0em;
    font-style: normal;
}

/* SUBHEADINGS H3 - SIMPLE */

div[data-setting-id*="coffee-pub-monarch.headingH3simple"],
div[data-setting-id*="coffee-pub-squire.headingH3simple"],
div[data-setting-id*="coffee-pub-blacksmith.headingH3simple"],
div[data-setting-id*="coffee-pub-bubo.headingH3simple"],
div[data-setting-id*="coffee-pub-crier.headingH3simple"],
div[data-setting-id*="coffee-pub-scribe.headingH3simple"],
div[data-setting-id*="coffee-pub-bibliosoph.headingH3simple"] {
    background-color: rgba(9, 12, 3, 0.05);
    border-radius: 4px;	
}

div[data-setting-id*="coffee-pub-monarch.headingH3simple"] .notes,
div[data-setting-id*="coffee-pub-squire.headingH3simple"] .notes,
div[data-setting-id*="coffee-pub-blacksmith.headingH3simple"] .notes,
div[data-setting-id*="coffee-pub-bubo.headingH3simple"] .notes,
div[data-setting-id*="coffee-pub-crier.headingH3simple"] .notes,
div[data-setting-id*="coffee-pub-scribe.headingH3simple"] .notes,
div[data-setting-id*="coffee-pub-bibliosoph.headingH3simple"] .notes {
	display: none;	
}

/* BOX TEXT H4 */
input[name*="coffee-pub-monarch.headingH4"],
input[name*="coffee-pub-squire.headingH4"],
input[name*="coffee-pub-blacksmith.headingH4"],
input[name*="coffee-pub-bubo.headingH4"],
input[name*="coffee-pub-crier.headingH4"],
input[name*="coffee-pub-scribe.headingH4"],
input[name*="coffee-pub-bibliosoph.headingH4"] {
	display: none;	
}
div[data-setting-id*="coffee-pub-monarch.headingH4"],
div[data-setting-id*="coffee-pub-squire.headingH4"],
div[data-setting-id*="coffee-pub-blacksmith.headingH4"],
div[data-setting-id*="coffee-pub-bubo.headingH4"],
div[data-setting-id*="coffee-pub-crier.headingH4"],
div[data-setting-id*="coffee-pub-scribe.headingH4"],
div[data-setting-id*="coffee-pub-bibliosoph.headingH4"] {
	border-top: 1px dotted #5F5D58;
	border-bottom: 1px dotted #5F5D58;
	border-left: 1px dotted #5F5D58;
	border-right: 1px dotted #5F5D58;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}
div[data-setting-id*="coffee-pub-monarch.headingH4"] label,
div[data-setting-id*="coffee-pub-squire.headingH4"] label,
div[data-setting-id*="coffee-pub-blacksmith.headingH4"] label,
div[data-setting-id*="coffee-pub-bubo.headingH4"] label,
div[data-setting-id*="coffee-pub-crier.headingH4"] label,
div[data-setting-id*="coffee-pub-scribe.headingH4"] label,
div[data-setting-id*="coffee-pub-bibliosoph.headingH4"] label {
	font-weight:550;
    font-size: 1.0em;
    font-style: normal;
}
div[data-setting-id*="coffee-pub-monarch.headingH4"] i,
div[data-setting-id*="coffee-pub-squire.headingH4"] i,
div[data-setting-id*="coffee-pub-blacksmith.headingH4"] i,
div[data-setting-id*="coffee-pub-bubo.headingH4"] i,
div[data-setting-id*="coffee-pub-crier.headingH4"] i,
div[data-setting-id*="coffee-pub-scribe.headingH4"] i,
div[data-setting-id*="coffee-pub-bibliosoph.headingH4"] i {
	display: none;	
}
div[data-setting-id*="coffee-pub-monarch.headingH4"] .notes,
div[data-setting-id*="coffee-pub-squire.headingH4"] .notes,
div[data-setting-id*="coffee-pub-blacksmith.headingH4"] .notes,
div[data-setting-id*="coffee-pub-bubo.headingH4"] .notes,
div[data-setting-id*="coffee-pub-crier.headingH4"] .notes,
div[data-setting-id*="coffee-pub-scribe.headingH4"] .notes,
div[data-setting-id*="coffee-pub-bibliosoph.headingH4"] .notes {
    font-weight:100;
    font-size: 0.9em;
    font-style: normal;
}

/* HORIZANTAL RULE HR */
input[name*="coffee-pub-monarch.headingHR"],
input[name*="coffee-pub-squire.headingHR"],
input[name*="coffee-pub-blacksmith.headingHR"],
input[name*="coffee-pub-bubo.headingHR"],
input[name*="coffee-pub-crier.headingHR"],
input[name*="coffee-pub-scribe.headingHR"],
input[name*="coffee-pub-bibliosoph.headingHR"] {
    display: none;	
}
div[data-setting-id*="coffee-pub-monarch.headingHR"],
div[data-setting-id*="coffee-pub-squire.headingHR"],
div[data-setting-id*="coffee-pub-blacksmith.headingHR"],
div[data-setting-id*="coffee-pub-bubo.headingHR"],
div[data-setting-id*="coffee-pub-crier.headingHR"],
div[data-setting-id*="coffee-pub-scribe.headingHR"],
div[data-setting-id*="coffee-pub-bibliosoph.headingHR"] {
    border-top: 1px dotted rgba(9, 12, 3, 0.4);
}
div[data-setting-id*="coffee-pub-monarch.headingHR"] label,
div[data-setting-id*="coffee-pub-squire.headingHR"] label,
div[data-setting-id*="coffee-pub-blacksmith.headingHR"] label,
div[data-setting-id*="coffee-pub-bubo.headingHR"] label,
div[data-setting-id*="coffee-pub-crier.headingHR"] label,
div[data-setting-id*="coffee-pub-scribe.headingHR"] label,
div[data-setting-id*="coffee-pub-bibliosoph.headingHR"] label {
    display: none;	
}
div[data-setting-id*="coffee-pub-monarch.headingHR"] i,
div[data-setting-id*="coffee-pub-squire.headingHR"] i,
div[data-setting-id*="coffee-pub-blacksmith.headingHR"] i,
div[data-setting-id*="coffee-pub-bubo.headingHR"] i,
div[data-setting-id*="coffee-pub-crier.headingHR"] i,
div[data-setting-id*="coffee-pub-scribe.headingHR"] i,
div[data-setting-id*="coffee-pub-bibliosoph.headingHR"] i {
    display: none;	
}
div[data-setting-id*="coffee-pub-monarch.headingHR"] .notes,
div[data-setting-id*="coffee-pub-squire.headingHR"] .notes,
div[data-setting-id*="coffee-pub-blacksmith.headingHR"] .notes,
div[data-setting-id*="coffee-pub-bubo.headingHR"] .notes,
div[data-setting-id*="coffee-pub-crier.headingHR"] .notes,
div[data-setting-id*="coffee-pub-scribe.headingHR"] .notes,
div[data-setting-id*="coffee-pub-bibliosoph.headingHR"] .notes {
    display: none;	
}