/* ------------------------------------ */
/* --- SETTINGS  ---------------------- */
/* ------------------------------------ */

/* NORMAL SETTING OVERRIDES */
/* v13: Target via label[for] or input[id] since data-setting-id no longer exists */

.form-group:has(label[for*="settings-config-coffee-pub-"]) {
    background-color: rgba(9, 12, 3, 0.05);
    padding: inherited;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-group:has(label[for*="settings-config-coffee-pub-"]) label {
    font-weight: 550;
    font-size: 1.0em;
    font-style: normal;
}

.form-group:has(label[for*="settings-config-coffee-pub-"]) .hint {
    font-weight: 400;
    font-size: 1.0em;
    font-style: normal;
    padding: inherited;
}

.form-group:has(label[for*="settings-config-coffee-pub-"]) .form-fields {
    margin: 4px 0px 4px 0px;
}

.form-group:has(label[for*="settings-config-coffee-pub-"]) p.hint {
    display: none !important;
}

.form-group:has(label[for*="settings-config-coffee-pub-"]) p.hint:not(:empty) {
    display: block !important;
}

/* HEADINGS H1 - MAIN SECTIONS */
.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH1"]) {
    background-color: rgba(52, 28, 32, 0.9);
    border-radius: 4px;	
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH1"]) .form-fields,
.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH1"]) input {
    display: none !important;
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH1"]) label {
    color: rgba(227, 225, 216, 1.0);
    font-weight: 550;
    font-size: 1.4em;
    font-style: normal;
    text-transform: uppercase;
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH1"]) i {
    display: none;	
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH1"]) .hint {
    color: rgba(227, 225, 216, 1.0);
    font-weight: 100;
    font-size: 1.0em;
    font-style: normal;
}

/* HEADINGS H2 - HEADINGS WITHIN THE SECTIONS TO GROUP LIKE SETTINGS */

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH2"]) {
    background-color: rgba(45, 63, 17, 0.2);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;	
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH2"]) .form-fields,
.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH2"]) input {
    display: none !important;
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH2"]) label {
    color: rgba(9, 12, 3, 1.0);
    font-weight: 550;
    font-size: 1.3em;
    font-style: normal;
    text-transform: uppercase;
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH2"]) i {
    display: none;	
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH2"]) .hint {
    color: rgba(9, 12, 3, 1.0);
    font-weight: 100;
    font-size: 1.0em;
    font-style: normal;
}

/* SUBHEADINGS H3 - SUBHEADINGS WITHIN SECTIONS */
/* There are two types: simple and normal. */
/* Simple H3simple: subheadings do not have notes associated with them. */
/* Normal H3: subheadings have notes associated with them. */

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH3"]) {
    background-color: rgba(9, 12, 3, 0.15);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;	
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH3"]) .form-fields,
.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH3"]) input {
    display: none !important;
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH3"]) label {
    font-weight: 550;
    font-size: 1.1em;
    font-style: normal;
    text-transform: uppercase;
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH3"]) i {
    display: none;	
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH3"]) .hint {
    font-weight: 100;
    font-size: 1.0em;
    font-style: normal;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* SUBHEADINGS H3 - SIMPLE - !!!  REMOVE THIS WHEN ALL MODULES ARE TRANSITIONED !!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH3simple"]) {
    background-color: rgba(9, 12, 3, 0.15);
    border-radius: 4px;	
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH3simple"]) .form-fields,
.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH3simple"]) input {
    display: none !important;
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH3simple"]) .hint {
    display: none;	
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */



/* BOX TEXT H4 - This puts a dotted box around the setting label and the notes.*/

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH4"]) {
    border: 1px dotted rgba(9, 12, 3, 0.4);
    border-radius: 4px;	
    padding: 6px 8px 6px 8px;
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH4"]) .form-fields,
.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH4"]) input {
    display: none !important;
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH4"]) label {
    font-weight: 550;
    font-size: 1.1em;
    font-style: normal;
    margin: 0px 0px 6px 0px;
    border-radius: 4px;
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH4"]) i {
    display: none;	
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingH4"]) .hint {
    font-weight: 100;
    font-size: 0.9em;
    font-style: normal;
}

/* HORIZONTAL RULE HR */

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingHR"]) {
    border-top: 1px dotted rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 8px 0px 8px 0px;
    max-height: 0px;
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingHR"]) .form-fields,
.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingHR"]) input {
    display: none !important;
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingHR"]) label {
    display: none;	
    padding: 0;
    margin: 0;
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingHR"]) i {
    display: none;
    padding: 0;
    margin: 0;	
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingHR"]) .hint {
    display: none;	
    padding: 0;
    margin: 0;
}

/* SP SPACER */

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingSP"]) {
    padding: 0;
    margin: 8px 0px 8px 0px;
    max-height: 0px;
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingSP"]) .form-fields,
.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingSP"]) input {
    display: none !important;
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingSP"]) label {
    display: none;	
    padding: 0;
    margin: 0;
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingSP"]) i {
    display: none;
    padding: 0;
    margin: 0;	
}

.form-group:has(label[for*="settings-config-coffee-pub-"][for*="headingSP"]) .hint {
    display: none;	
    padding: 0;
    margin: 0;
}
