/* ================================================================== */
/* ===== SIDEBAR STYLE OVERRIDES =================================== */
/* ================================================================== */

/* These styles are applied conditionally via JavaScript when sidebarStyleUI setting is enabled */

#sidebar.blacksmith-sidebar-styled {
    background: rgba(0, 0, 0, 0.8) !important; 
    padding: 4px 0px 4px 0px;
    border-radius: 8px 0px 0px 8px;
    margin: 10px 0 10px 0;
    height: calc(100% - 20px);
    scrollbar-width: 1px;
}
#sidebar.blacksmith-sidebar-styled #sidebar-content  {
    background: rgba(0, 0, 0, 0.2) !important;
    padding: 0px 2px 0px 2px;
    margin-left: 2px;
}
#sidebar-tabs.blacksmith-sidebar-styled {
    background: rgba(0, 0, 0, 0.0) !important;
    padding: 8px 0px 8px 4px;
    margin: 0 0px 0 0;

    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* BUTTONS STYLES */

.blacksmith-sidebar-styled .ui-control[aria-pressed="true"] {
    background: rgba(201, 89, 63, 0.6);
    border: 1px solid rgba(201, 89, 63, 0.7);
    border-radius: 3px;
}

.blacksmith-sidebar-styled .ui-control:hover {
    background: rgba(201, 89, 63, 0.9);
    border: 1px solid rgba(201, 89, 63, 0.7);
    border-radius: 3px;
}


/* CHAT BOX STYLES */

.blacksmith-sidebar-styled .chat-form {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    margin-right: 4px;
}

#chat-controls.blacksmith-sidebar-styled #roll-privacy.vertical {
    margin: 0px 0px 12px 4px;

}