/* ================================================================== */
/* ===== SIDEBAR PIN BUTTON ========================================= */
/* ================================================================== */

/* Pin button styling */
.blacksmith-sidebar-pin {
    color: rgba(255, 255, 255, 1.0);
    transition: all 0.2s ease;
    background-color: rgba(255, 255, 255, 0.0);
    border: 0px solid var(--color-text-primary);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    transform: rotate(90deg);
}

.blacksmith-sidebar-pin:hover {
    color: rgba(201, 89, 63, 1.0) !important;
    background-color: rgba(255, 255, 255, 0.0) !important;
    border: 0px solid var(--color-text-primary) !important;
    transform: rotate(45deg);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    border: 0px solid var(--color-text-primary) !important;
}

.blacksmith-sidebar-pin.pinned {
    color: rgba(201, 89, 63, 1.0) !important;
    opacity: 1 !important;
    background-color: rgba(255, 255, 255, 0.0) !important;
    border: 0px solid var(--color-text-primary) !important;
    border-radius: 3px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4) !important;
    transform: rotate(0deg);
}

.blacksmith-sidebar-pin.pinned:hover {
    color: rgba(201, 89, 63, 1.0) !important;
    transform: rotate(-45deg);
    background-color: rgba(255, 255, 255, 0.0) !important;
    border: 0px solid var(--color-text-primary) !important;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    border: 0px solid var(--color-text-primary) !important;
    opacity: 1;
}




/* MANUAL ROLLS - blacksmith-manual-rolls */

/* Pin button styling */
.blacksmith-manual-rolls {
    color: rgba(255, 255, 255, 1.0);
    transition: all 0.2s ease;
    background-color: rgba(255, 255, 255, 0.0);
    border: 0px solid var(--color-text-primary);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    transform: rotate(90deg);
    margin: 0px 0px 30px 0px;
    margin-top: 0px;
}

.blacksmith-manual-rolls:hover {
    color: rgba(201, 89, 63, 1.0) !important;
    background-color: rgba(255, 255, 255, 0.0) !important;
    border: 0px solid var(--color-text-primary) !important;
    transform: rotate(45deg);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    border: 0px solid var(--color-text-primary) !important;
}

.blacksmith-manual-rolls.active {
    color: rgba(201, 89, 63, 1.0) !important;
    opacity: 1 !important;
    background-color: rgba(255, 255, 255, 0.0) !important;
    border: 0px solid var(--color-text-primary) !important;
    border-radius: 3px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4) !important;
    transform: rotate(0deg);
}

.blacksmith-manual-rolls:hover {
    color: rgba(201, 89, 63, 1.0) !important;
    transform: rotate(-45deg);
    background-color: rgba(255, 255, 255, 0.0) !important;
    border: 0px solid var(--color-text-primary) !important;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    border: 0px solid var(--color-text-primary) !important;
    opacity: 1;
}