/* ------------------------------------ */
/* --- ROUND TIMER ---------- */
/* ------------------------------------ */

.round-timer {
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.round-timer-text {  
    font-size: inhertied;

}
.round-avg-label,
.round-duration-label {
    color: rgb(221, 221, 221, 0.6);
	text-transform: capitalize;
	font-size: 12px;
	font-weight: 400;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	margin-right: 3px;
}
.round-avg-time,
.round-duration-time {
    color: rgb(221, 221, 221, 0.9);
    font-weight: 400;
	font-size: 14px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
} 
.separator {
	font-weight: 900;
	font-size: 16px;
	color: rgb(221, 221, 221, 0.2);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	margin-left: 6px;
	margin-right: 6px;
}