/* ------------------------------------ */
/* --- ROUND TIMER ---------- */
/* ------------------------------------ */

.round-timer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0px 0px 0px 0px;   
	background: rgba(51, 27, 31, 0.4);
	border-top: 1px solid rgba(0, 0, 0, 0.9);
  }
  
  .round-timer-left,
  .round-timer-right {
	  display: flex;
	  align-items: center;
	  gap: 4px;
	  padding: 0; 
	  color: rgba(255, 255, 255, 0.7);
	  text-transform: capitalize;
	  font-size: .85em;
	  font-weight: 400;
	  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
  .round-timer-left {
	padding: 0px 6px 0px 6px; 
  }
  .round-timer-right {
	padding: 0px 6px 0px 6px; 
  }
  
  /* Optional styling for icons and text */
  .round-timer-left i,
  .round-timer-right i {
	  padding: 2px 0px 0px 0px; 
	  font-size: .75em;
  }
  
  
  
  