/* ------------------------------------ */
/* -- LAYOUT                 ---------- */
/* ------------------------------------ */

/* ----- VARIABLES ----- */

/* Window Variables */
:root {
    --element-radius: 4px;
    --container-opacity: 0.85;
}

/* Main Window */
div#coffee-pub-blacksmith {
    min-height: 506px;
}

/* Window Content */
div#coffee-pub-blacksmith .window-content {
    opacity: var(--container-opacity);
    padding: 10px;
    background: #222222;
    color: #ffffff;
}

/* Main Wrapper */
#coffee-pub-blacksmith-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 350px;
    height: 100%;
    gap: 10px;
}

/* Main Container */
#coffee-pub-blacksmith-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* --------BEGIN NON BLACKSMITH WRAPPER STUFF ----------- */

/* Form */
div#coffee-pub-blacksmith,
div#coffee-pub-bibliosoph {
    overflow: hidden;
    min-width: var(--base-width);
    transition: min-width 0.3s ease;
    box-sizing: border-box;
}

/* Window Background */
div#coffee-pub-blacksmith .window-content,
div#coffee-pub-bibliosoph .window-content {
	opacity: var(--container-opacity);
    padding: var(--container-padding);
    overflow: hidden;
	padding: 10px;
}

div#coffee-pub-blacksmith {
	min-height: 506px;
}

/* --------END NON BLACKSMITH WRAPPER STUFF ----------- */


/* -------- ------------------------------------ ----------- */
/* -------- THINGS BELOW HAVE NOT BEEN ORGANIZED ----------- */
/* -------- ------------------------------------ ----------- */

#blacksmith-input-message button[type="submit"] {
	flex: none; 
}



/* Text Area */
.blacksmith-textarea,
.bibliosoph-textarea {
    font-family: var(--font-primary);
    border: none;
    padding: 12px;
    font-size: 1.1em;
    height: auto;
    border-radius: var(--element-radius);
    word-break: break-word;

}


/* Button: Small Round Pill Button */
.blacksmith-send-button-round,
.bibliosoph-send-button-round {
    flex: 0 1 0;
	content: "";
    padding: 2px;
    font-size: 28px;
    position: absolute;
    right: 15px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    bottom: 20px;
}
/* Button: Standard Button */
.blacksmith-send-button-normal,
.bibliosoph-send-button-normal {
    padding: 2px;
	margin-top: 4px;
    font-size: 0.9em;
    border-radius: var(--element-radius);

}


/* -- BLACKSMITH SPECIFIC -- */

.blacksmith-chat-button-normal::after {
	content: "";
	text-transform: uppercase
}





div#blacksmith-message-wrapper-processing,
div#blacksmith-message-wrapper {
	margin-bottom: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	border-radius: var(--element-radius);
}

div#blacksmith-message-header {
	font-weight: 800;
    font-size: 1.1em;
	text-transform: uppercase;
	margin-bottom: 0px;
	padding-top: 4px;
	padding-bottom: 3px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: var(--element-radius) var(--element-radius) 0 0;
}

div#blacksmith-message-header-processing {
	font-weight:800;
    font-size: 1.0em;
	text-transform: uppercase;
	margin-bottom: 0px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: var(--element-radius);
}

.blacksmith-message-speaker{
	font-weight: 800;
    font-size: 1.0em;
	padding-right: 0px;
	padding-left: 3px;
}

div#blacksmith-message-content {
	font-weight:100;
    font-size: 1.0em;
	margin-bottom: 0px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius:  0 0 var(--element-radius) var(--element-radius);
	
}

div#blacksmith-message-divider {
	color: #a19476ce;
	font-size: 0.8em;
	text-transform: uppercase;
    background-color: transparent;
	border-top: 1px solid #a194764d;
	border-bottom: 1px solid #a194764d;
	border-left: 0px solid #a194764d;
	border-right: 0px solid #a194764d;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;
	
}




/* ********* BLACKSMITH TOOLBARS ********* */

/* message toolbar */
div#blacksmith-message-toolbar {
    display: flex; /* Enable Flexbox */
    flex-direction: row; /* Ensure buttons are in a row */
    font-weight: 100;
    font-size: 1.0em;
    margin-bottom: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: var(--element-radius) var(--element-radius) var(--element-radius) var(--element-radius);
}
div#blacksmith-message-toolbar {
	color: #bdbdae;
    background-color: #ada39d;
	border-top: 1px solid #8d8061;
	border-bottom: 1px solid #8d8061;
	border-left: 1px solid #8d8061;
	border-right: 1px solid #8d8061;
	box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 2px 0px;
}

.toolbar-left {
	justify-content: flex-start; /* Align items to the left */
}
.toolbar-right {
	justify-content: flex-end; /* Align items to the right */
}

div#blacksmith-message-toolbar button {
    display: flex; /* Enable Flexbox for button content */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    width: 30px; /* Default square size */
    height: 30px; /* Default square size */
    margin-left: 4px; /* Add some space between buttons */
    background-color: #313030;
    color: #ffffff;
    border: 1px solid #4b4b4b;
    padding: 0; /* Remove default padding */
	padding-left: 4px; /* allow for icon drift */
    font-size: 1em; /* Adjust font size */
    border-radius: var(--element-radius); /* Adjust border radius */
    transition: width 0.3s ease; /* Smooth transition for width change */
}
div#blacksmith-message-toolbar button span {
    display: none; /* Hide label by default */
}

div#blacksmith-message-toolbar button:hover {
    background-color: #971416;
    color: #ffffff;
    border: 1px solid #767676;
    box-shadow: none;
}

div#blacksmith-message-toolbar button[data-label] {
    width: auto; /* Adapt width to content */
    padding: 0 10px; /* Add padding for content */
}
div#blacksmith-message-toolbar button[data-label] span {
    font-size: .8em; /* Adjust font size */
	text-transform: uppercase;
	display: inline; /* Show label when data-label attribute is present */
    margin-left: 4px; /* Add space between icon and label */
}
/*selected toolbar button*/

/* #div#blacksmith-workspace-toolbar button:active,
#blacksmith-message-toolbar button.active {
    background-color: #b11b1b;
} */

#blacksmith-message-toolbar button.active {
	background-color: #550808;
	color: #ffffff;
	border: 1px solid #767676;
}

/* ------------------------------------ */
/* -- THEMES                 ---------- */
/* ------------------------------------ */

/* Window Background */
div#coffee-pub-blacksmith .window-content,
div#coffee-pub-bibliosoph .window-content {
    background: #222222;
	color: #ffffff;
}


/* Button: Small Round Pill Button */
.blacksmith-send-button-round,
.bibliosoph-send-button-round {
    background-color: var(--color-text-light-0);
    color: rgba(0, 170, 0, 0.8);
}
/* Button: Standard Button */
.blacksmith-send-button-normal,
.bibliosoph-send-button-normal {
    background-color: #0e0c0c;
    color: #ffffff;
    border: 1px solid #4b4b4b;
}
.blacksmith-send-button-normal:hover,
.bibliosoph-send-button-normal:hover {
    background-color: #000000;
    color: #AEADAD;
    border: 1px solid #767676;
    box-shadow: none;
}


/* -- BLACKSMITH SPECIFIC -- */

/* Text Area (INPUTS) */
.blacksmith-textarea {
    color: #000000;
    background-color: #f6f1ed;
	background: url(../../coffee-pub-blacksmith/images/tiles/tile-parchment-white.webp) repeat;
}

/* Blacksmith HTML Output */
div#coffee-pub-blacksmith-output {
    background: #222222;
	color: #000000;
	background: url(../../coffee-pub-blacksmith/images/tiles/tile-parchment-white.webp) repeat;
	
}

div#blacksmith-message-wrapper-processing,
div#blacksmith-message-wrapper {
	color: #BBCD9C;
}

div#blacksmith-message-header {
	color: #13130f;
    background-color: #e4ddd9;
	border-top: 1px solid #8d8061;
	border-bottom: 0px solid #8d8061;
	border-left: 1px solid #8d8061;
	border-right: 1px solid #8d8061;
	box-shadow: rgba(99, 99, 99, 0.3) 0px 0px 1px 1px;
}

div#blacksmith-message-wrapper .blacksmith-message-header-question {
	color: #494230;
    background-color: #ddd3ce;
}
div#blacksmith-message-wrapper .blacksmith-message-header-answer {
	color: #3d3b35;
    background-color: #c4bcaa;
}


div#blacksmith-message-header-processing {
	border: 2px solid #A2D14F;
	background-color: #4F760C;
	animation: message-processing 2s infinite;
	box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 2px 1px;
}
@keyframes message-processing {
	0% {border-color: #7FA33E;}
	10% {border-color: #7FA33E;}
	20% {border-color: #7FA33E;}
	30% {border-color: #7FA33E;}
	40% {border-color: #6E9E1E;}
	45% {border-color: #7EB71E;}
	50% {border-color: #8DD218;}
	55% {border-color: #7EB71E;}
	60% {border-color: #6E9E1E;}
	70% {border-color: #7FA33E;}
	90% {border-color: #7FA33E;}
	80% {border-color: #7FA33E;}
	100% {border-color: #7FA33E;}
	
	0% {background-color: #2B4009;}
	10% {background-color: #2B4009;}
	20% {background-color: #2B4009;}
	30% {background-color: #2B4009;}
	40% {background-color: #355008;}
	45% {background-color: #45690A;}
	50% {background-color: #4D750B;}
	55% {background-color: #45690A;}
	60% {background-color: #355008;}
	70% {background-color: #2B4009;}
	90% {background-color: #2B4009;}
	80% {background-color: #2B4009;}
	100% {background-color: #2B4009;}
	
}

div#blacksmith-message-content {
	color: #13130f;
    background-color: #f6f1ed;
	border-top: 1px dotted #8d8061;
	border-bottom: 1px solid #8d8061;
	border-left: 1px solid #8d8061;
	border-right: 1px solid #8d8061;
	box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 2px 0px;
}

div#blacksmith-message-content h4 {
	color: #746950;
	border-bottom: 1px dotted #b6a57e;
}

div#blacksmith-message-content h5 {
	color: #636350;
}








/* -- BIBLIOSOPH SPECIFIC -- */

/* Text Area (INPUTS) */
.bibliosoph-textarea {
    color: #000000;
    background-color: #cfd0ba;
	background: url(../../coffee-pub-blacksmith/images/tiles/tile-parchment.webp) repeat;
}

/* Option Container */
.bibliosoph-options {
	color: #ffffff;
	background-color: #0e0c0c;
}
/* Option items */
.bibliosoph-options option {
	color: #ffffff;
	background-color: #0e0c0c;
}

.bibliosoph-option-image {
	border-color: #4b4b4b;
	filter: brightness(75%);
}
.bibliosoph-option-image:hover {
	border-color: #f4eb72;
	filter: brightness(125%);
}
.bibliosoph-option-image-selected {
    /* Add your preferred styling here */
    border-color: #a4c76a;
	filter: brightness(100%);
}


/* Div Selector - legacy (cardsdark) */
#cards-user-cardsdark.bibliosoph-option-div-selected {
	background-color: #a4c76a;
	color: #000000;
	filter: brightness(100%);
}
#cards-user-cardsdark.bibliosoph-option-div-selected img {
	border-color: #293C00;
	filter: brightness(120%);
}

/* Div Selector - namespaced (blacksmith-card) */
.blacksmith-card .container-user.bibliosoph-option-div-selected {
	background-color: #a4c76a;
	color: #000000;
	filter: brightness(100%);
}
.blacksmith-card .container-user.bibliosoph-option-div-selected img {
	border-color: #293C00;
	filter: brightness(120%);
}



/* ----- TOOLTIPS ----- */

.tooltip-item {
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  	color: #dbdbdb;

}

.tooltip-label {
  	color: #818181;
}
/* Tooltip Divider */
.tooltip-divider {
	color: #818181;
}
/* Tooltip text */
.tooltiptext {
	background-color: #3b3b3b;
	color: #ffffff;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
.tooltip-item:hover {
	color: #f4eb72;
}
.tooltip-item .tooltiptext::after {
	border-color: #3b3b3b transparent transparent transparent;
  }


/* ------------------------------------------------------------------------------------------------- */
/* -- PARKING THIS HERE FOR NOW THEN MOVEE BACK TO LAYOUT WHEN I FIGURE OUT HOW TO DO IT  ---------- */
/* ------------------------------------------------------------------------------------------------- */






/* -- BIBLIOSOPH SPECIFIC -- */

.bibliosoph-send-button-normal::after {
	content: " Send Message";
	text-transform: uppercase;
}

/* Option Container */
.bibliosoph-options {
	color: #ffffff;
	background-color: #0e0c0c;
}
/* Option items */
.bibliosoph-options option {
	border: none;
}

/* Checkbox */
.bibliosoph-checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5px;
}
.bibliosoph-checkbox {
	border-radius: 2px;
}
.bibliosoph-checkbox-label {
	display: inline-block; 
	vertical-align: middle; 
	width: 100; 
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 2px;
	margin-right: 8px;
	text-align :left;
}
/* Image Selector */
.bibliosoph-option-image-container {
	border: 0px;
}
.bibliosoph-option-image {
	margin-top: 0px;
	margin-bottom: 4px;
	margin-right: 4px;
	margin-left: 0px;
	width: 50px;
	border-radius: 6px;
	border-width: 2px;
	cursor: pointer;
}

#cards-user-cardsdark.bibliosoph-option-div-selected img {
	border-width: 1px;
	border-style: solid;
}
.blacksmith-card .container-user.bibliosoph-option-div-selected img {
	border-width: 1px;
	border-style: solid;
}


/* ----- TOOLTIPS ----- */

/* Tooltip Container */
.tooltip-container
{
    text-align:center;
	padding-top: 10px;
	padding-bottom:0px;
	padding-left: 2px;
	padding-right: 0px;
}
/* Tooltip Label */
.tooltip-item {
  	position: relative;
	display:inline;
    font-weight:100;
    font-size: 0.8em;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom:0px;
	padding-left: 0px;
	padding-right: 0px;
}

.tooltip-label {
	position: relative;
	display:inline;
	font-weight:100;
	font-size: 0.8em;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 5px;
}

/* Tooltip Divider */
.tooltip-divider {
  	position: relative;
	display:inline;
    font-weight:100;
    font-size: 0.8em;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 5px;
}


/* Tooltip text */
.tooltiptext {
	visibility: hidden;
    font-weight:100;
    font-size: 1.0em;
	text-align: left;
    margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px;
  	/* Position the tooltip text */
  	position: absolute;
  	z-index: 10;
}
.tooltip-item:hover {
	cursor: context-menu;
}

/* Show the tooltip text when you mouse over the tooltip container 
.tooltip-item:hover .tooltiptext {
  visibility: visible;
}
*/

.tooltip-item:hover .tooltiptext {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.75s linear;
  }
  
  .tooltip-item:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
	transition-delay: 0.75s;
  }


.tooltip-item .tooltiptext {
  width: 250px;
  bottom: 100%;
  left: 50%;
  margin-left: -125px; /* Use half of the width  (120/2 = 60), to center the tooltip */
}

.tooltip-item .tooltiptext::after {
  border-color: #3b3b3b transparent transparent transparent;
}



/* ------------------------------------ */
/* -- TOOLBARS               ---------- */
/* ------------------------------------ */

/* WRAPPER */
#blacksmith-toolbar-wrapper {
	border-radius: 5px;
	position: fixed; 
	display: flex; 
	/* flex-wrap: nowrap; */
    flex-wrap: wrap; /* Allows the container to adapt to content size */
	flex-direction: column; /* row | column */
	border: 0px solid var(--color-border-dark);
}
/* GRIP */
#blacksmith-toolbar-grip  {
	display: flex; 
	height: 24px;
	transform: translate( -8%, 0%);/* row: -60%, 60% | column: -8%, 0% */
	place-content: center;
	cursor: move;
	border: 0px solid var(--color-border-dark);
}
#blacksmith-toolbar-grip .blacksmith-toolbar-grip-icon {
	transform: rotate(90deg);/* 0deg | 90deg */

	opacity: 0.6;
    color: rgba(200, 200, 200, 0.9);
	text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.3),
    1px -1px 0 rgba(0, 0, 0, 0.3),
    -1px 1px 0 rgba(0, 0, 0, 0.3),
    1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 14px;
}
/* BUTTON BAR */
#blacksmith-button-wrapper-bar {
   	display: flex; 
	flex-wrap: nowrap;
	flex-direction: column; /* row | column */
	border: 0px solid var(--color-border-dark);
	margin: 0;
	padding: 0;
	list-style: none;
	background: none;
	box-shadow: none;
	pointer-events: none;
}
/* BUTTON SPACER */

#blacksmith-button-wrapper-bar .blacksmith-spacer{
	width: 18px;
	height: 18px;
	min-height: 18px;
	min-width: 18px;
	box-sizing: border-box;
	transform: rotate(90deg);/* 0deg | 90deg */
	text-align: center;
	border: 0px solid var(--color-border-dark);
	background: none;
	place-content: center;
	flex: 0;
	flex-wrap: nowrap;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	display: inline-grid;
  	place-content: center;

} 
#blacksmith-button-wrapper-bar .blacksmith-spacer i {
	opacity: 0.6;
    color: rgba(200, 200, 200, 0.9);
	text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.3),
    1px -1px 0 rgba(0, 0, 0, 0.3),
    -1px 1px 0 rgba(0, 0, 0, 0.3),
    1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 10px;
	
}

/* BUTTON IMAGE */
#blacksmith-button-wrapper-bar .blacksmith-button-image {
	width: auto;
	height: auto;

	border-radius: 4px;
	border: 0px solid var(--color-border-dark);
}
#blacksmith-button-wrapper-bar .blacksmith-button-image:hover {
	transition: .2s ease;
  	opacity: .7;
}
/* BUTTON FAS ICON */

#blacksmith-button-wrapper-bar i {

	color: #000000;
	border: 0px solid var(--color-border-dark);
	text-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0.08),
    1px -1px 0 rgba(255, 255, 255, 0.08),
    -1px 1px 0 rgba(255, 255, 255, 0.08),
    1px 1px 0 rgba(255, 255, 255, 0.08);
} 


/* BUTTONS - GLOBAL STYLES */
#blacksmith-button-wrapper-bar .blacksmith-button-4x4,
#blacksmith-button-wrapper-bar .blacksmith-button-2x2,
#blacksmith-button-wrapper-bar .blacksmith-button-1x1 {
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px var(--color-shadow-dark);
	color: var(--color-text-light-heading);
	text-align: center;
	border: 1px solid var(--color-border-dark);
	border-radius: 5px;
	cursor: pointer;
	pointer-events: all;
	place-content: center;
	flex: 0;
	flex-wrap: nowrap;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-grid;
  	place-content: center;
	padding: 1px;
}

#blacksmith-button-wrapper-bar i {
    color: var(--color-text-light-heading);
	
}

#blacksmith-button-wrapper-bar .blacksmith-button-4x4:hover,
#blacksmith-button-wrapper-bar .blacksmith-button-2x2:hover,
#blacksmith-button-wrapper-bar .blacksmith-button-1x1:hover {
	color: var(--color-text-light-highlight);
	border: 1px solid var(--color-border-highlight-alt);
	border-bottom: 1px solid var(--color-border-highlight);
	box-shadow: 0 0 10px var(--color-shadow-highlight);
}


